.cups {
  & * {
    box-sizing: border-box;
  }
  padding: 20px;

  &__header {
    display: flex;
    justify-content: flex-end;
  }

  &__headline {
    text-align: center;
  }

  &__selector {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }

  &__select {
    width: 150px;
    height: 30px;

    &-label {
      margin-right: 10px;
    }
  }
}

.cup {
  display: flex;
  align-items: center;
  margin-top: 30px;

  @media only screen and (max-width: 600px) {
    flex-direction: column;
    font-size: 1rem;
  }

  &__column-labels {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    font-size: 1rem;
    font-weight: 800;
  }

  &__round {
    display: flex;
    position: relative;
    padding-left: 70px;

    @media only screen and (max-width: 600px) {
      width: 100%;
      margin-bottom: 50px;
      padding-left: 20px;
    }

    &-label {
      transform: rotate(90deg);
      position: absolute;
      width: 150px;
      text-align: center;
      left: -30px;
      top: 46%;
      text-transform: uppercase;
      font-weight: 800;

      @media only screen and (max-width: 600px) {
        left: -50px;
      }
    }

    &-duedate {
      font-weight: 400;
      font-size: 0.7rem;
    }
  }

  &__games {
    border-left: 5px solid orange;
    @media only screen and (max-width: 600px) {
      width: 100%;
    }
  }

  &__game {
    display: flex;

    &-id {
      margin-right: 10px;
    }

    &-players {
      flex: 1;
    }

    &-player {
      &:first-child {
        margin-bottom: 2px;
      }
    }

    &-wrapper {
      &:not(:last-child) {
        margin-bottom: 30px;
      }

      .cup__round:last-child & {
        margin-bottom: 0;
      }

      &--third-place-match {
        position: absolute;
        margin-top: 50px;
      }

      &--kloppable {
        cursor: pointer;
      }
    }

    &-label {
      font-weight: 800;
      text-align: center;
      margin-bottom: 20px;
      position: absolute;
      transform: rotate(90deg);
      left: -82px;
      top: 50px;
    }
  }
}

.player {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #ddd;

  &.winner {
    background-color: #4BB543;
  }

  &__logo {
    margin-right: 10px;
    min-width: 30px;
    height: 30px;

    img {
      height: 30px;
    }
  }

  &__infos {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    flex: 4;
  }

  &__name {
    font-weight: 800;
  }

  &__freilos {
    padding-left: 40px;
    height: 40px;
    display: flex;
    align-items: center;
  }

  &__game {
    display: flex;

    &-throws,
    &-rest {
      padding: 0 10px;
    }

    &-throws {
      font-weight: 800;
    }
  }
}
