<div class="cups">
  <div class="cups__header">
    <a *ngIf="loginService.isUserLoggedIn()" [routerLink]="['/createPokal']" class="cups__create">Pokal erstellen</a>
  </div>
  <h1 class="cups__headline">{{getEventName(officialEvents)}}</h1>
  <div class="cups__selector">
    <label for="cups__select" class="cups__select-label">Event auswählen</label>
    <select name="change-event" id="change-event" class="cups__select" [ngModel]="officialEvents" (change)="changeEvents($event.target.value)">
      <option [value]="true">{{EVENT_NAMES.official}}</option>
      <option [value]="false">{{EVENT_NAMES.unofficial}}</option>
    </select>
  </div>
  <div *ngIf="chosenCup" class="cups__selector">
    <label for="cups__select" class="cups__select-label">Pokal auswählen</label>
    <select name="cups__select" id="cups__select" [ngModel]="chosenCup.key" (change)="changeCup($event.target.value)"
            class="cups__select">
      <option *ngFor="let cup of cupsToShow" [value]="cup.key">{{cup.name}}</option>
    </select>
  </div>
  <div class="cup">
    <div *ngFor="let round of chosenCup.rounds; let roundIndex = index" class="cup__round">
      <div class="cup__round-label"><div>{{getRoundLabel(roundIndex)}}</div><div class="cup__round-duedate">(Rundenende:&nbsp;{{round.endDate}})</div></div>
      <div class="cup__games">
        <div *ngFor="let game of round.pokalGames; let gameIndex = index"
             (click)="pokalSpielKloppen(roundIndex, gameIndex, game, chosenCup)"
             class="cup__game-wrapper"
             [ngClass]="{'cup__game-wrapper--third-place-match': isThirdPlaceMatch(roundIndex, gameIndex), 'cup__game-wrapper--kloppable': isGameKloppable(game)}">
          <div *ngIf="isThirdPlaceMatch(roundIndex, gameIndex)"
               class="cup__game-label">{{"Spiel um Platz 3".toUpperCase()}}</div>
          <div class="cup__game">
            <div class="cup__game-players">
              <div *ngFor="let player of game.playerRefs" class="cup__game-player">
                <div class="player" [ngClass]="{'winner': isWinner(player, game)}"
                     *ngIf="getUserByPlayerRef(player); let user">
                  <div class="player__logo">
                    <img
                      [src]='"assets/images/user/verein/logo_"+[getUserByPlayerRef(player).team | lowercase | replaceAll: " ": "_"]+"_s.png"'
                      onError="this.src='assets/images/user/verein/logo_default.png'">
                  </div>
                  <div class="player__infos">
                    <div class="player__name">{{user.name}}</div>
                    <div class="player__team">{{user.team}}</div>
                  </div>
                  <div class="player__game" *ngIf="getPlayerStatsFromGame(player, game); let stats">
                    <div class="player__game-throws">{{stats.throws.length}}</div>
                    <div class="player__game-rest">({{stats.rest}})</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
