.filter_data_type-wrapper {
  display: flex;
  justify-content: center;
  margin: 15px 0;
  align-items: center;
}

#filter_data_type {
  display: flex;
}

.highcharts-container {
  width: 100%;
}

.statistic-data-wrapper {
  margin: 20px 0px;
  padding: 5px 10px 0px 10px;
  background-color: #fff;
}

.statistic-data {
  margin-bottom: 10px;
}

.statistic-data:last-child {
  margin-bottom: 0px;
}

.statistic-data .description {
  margin-bottom: 5px;
  font-weight: bold;
  display: flex;
  justify-content: center;
}

.statistic-data .percent {
  font-weight: normal;
  display: flex;
  justify-content: center;
}

.statistic-data .values {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.statistic-data .values.map {
  display: inline;
  flex-flow: unset;
  justify-content: normal;
}

.statistic-data .value {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 10px;
  height: 20px;
  color: #ff9933;
  border-radius: 1px;
}

.statistic-data hr {
  background-image: linear-gradient(90deg, transparent 10%, #bbb, transparent 90%);
  height: 1px;
  border: 0px;
}

.statistic-data:last-child hr {
  border: 0px;
  height: 0px;
}

.statistic-data-table-wrapper {
  margin: 0 20% 10px 20%;
}

.statistic-data-table {
  margin-top: 10px;
  margin: 10px auto 0;
  background-color: #fff;
}

.statistic-data-table,
.statistic-data-table td {
  border-collapse: collapse;
}

.statistic-data-table tr {
  height: 20px;
}

.statistic-data-table td {
  color: #ff9933;
  width: 100px;
}

.statistic-data-table .name {
  width: 140px;
  display: flex;
  align-items: center;
}

.statistic-data-table .table-values {
  width: 20px;
}

.statistic-data-table td.table-values {
  background-color: #fdfdfd;
  padding: 3px;
  text-align: right;
}

.statistic-data-table td.table-values:nth-child(even) {
  background-color: #f7f7f7;
}

.statistic-data-table td.table-values {
  border-top: 1px solid #888;
}

.statistic-data-table td.additional-data {
  width: 120px;
  padding-left: 15px;
}

.data-row-image-wrapper {
  display: flex;
  justify-content: center;
  position: relative;
}

.hover-additional-data {
  display: none;
  position: absolute;
  top: 10px;
  left: 10px;
  align-items: center;
  flex-direction: column;
  background-color: #aaa;
  color: #fff;
  z-index: 2;
  padding: 3px;
  width: 55px;
  justify-items: left;
}

.hover-additional-data span {
  display: flex;
  width: 100%;
  justify-content: left;
}

td.table-values:hover span.hover-additional-data {
  display: flex;
}

.data-row-image {
  height: 20px;
  margin: 0 5px;
}

.statistic-data-table td.table-values.image {
  background-color: inherit;
  border: 0px;
}

.team-logo {
  height: 20px;
  margin-right: 8px;
}

.filter {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  background-color: #ffffff;
}

.toggle-container {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.toggleWrapper {
  position: relative;
  margin: 5px 10px;
}

.toggleWrapper input {
  display: none;
}

.toggle {
  cursor: pointer;
  display: inline-block;
  position: absolute;
  width: 36px;
  top: 18px;
  left: 50%;
  transform: translateX(-50%);
  height: 17px;
  background-color: #dcc8a3;
  border-radius: 42px;
  z-index: 2;
  transition: background-color 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.toggle__handler {
  display: inline-block;
  position: relative;
  z-index: 1;
  top: 1.5px;
  left: 2px;
  width: 14px;
  height: 14px;
  background-color: #7e2804;
  border-radius: 25px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  transition: all 400ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transform: rotate(-45deg);
}

input:checked + .toggle:after {
  color: #ffffff;
}

input:checked + .toggle .toggle__handler {
  transform: translate3d(17px, 0, 0) rotate(0);
}

input:checked + .toggle + .bear-body {
  transform: rotateY(180deg);
}

.bear-body {
  position: relative;
  border-radius: 10px 5px 2.5px;
  border-bottom: 60px solid #7e2804;
  border-left: 10px solid transparent;
  border-right: 5px solid transparent;
  height: 0;
  width: 47px;
}

.bear-body::before, .bear-body::after {
  content: '';
  position: absolute;
  height: 12.5px;
  width: 12.5px;
  border-radius: 50%;
  top: -8px;
  background: radial-gradient(#dcc8a3 2.5px, #7e2804 3px);
}

.bear-body::before {
  left: -6.25px;
}

.bear-body::after {
  right: -6.25px;
}

.bear-body .eye {
  position: absolute;
  top: 9px;
  background: #3d2526;
  height: 7px;
  width: 7px;
  border-radius: 50%;
  background-image: radial-gradient(circle at 2px, white 0.5px, #3d2526 1px);
}

.bear-body .eye.left {
  left: 10px;
  animation: blink 3s ease-in-out infinite;
}

.bear-body .eye.right {
  left: 23px;
  animation: blink 3.5s ease-in-out infinite;
}

@keyframes blink {
  85% {
    transform: rotateX(0deg);
  }
  90% {
    transform: rotateX(90deg);
  }
}
