<div *ngIf="officialLigenFinished && calculateSeriesData()" class="highcharts-wrapper">
  <div class="filter">
    <div class="filter_data_type-wrapper">
      Datentyp:&nbsp;
      <select name="filter_name" id="filter_data_type" class="form-input filter"
              (change)="seriesTypeFilterChanged($event.target.value)">
        <option value="" class="first">--</option>
        <option value="quote">Quote</option>
        <option value="points">Punkte</option>
        <option value="position">Positionen</option>
      </select>
    </div>

    <div *ngIf="seriesTypeFilterWasChosen" class="toggle-container">
      <div class="seasons">Saisons</div>
      <div class="toggleWrapper">
        <input type="checkbox" class="dn" id="dn" (change)="switchHighCharts()"/>
        <label for="dn" class="toggle">
          <span class="toggle__handler"></span>
        </label>
        <div class="bear-body">
          <span class="eye left"></span>
          <span class="eye right"></span>
        </div>
      </div>
      <div class="seasons-halfs">Saisonhälften</div>
    </div>
  </div>

  <div class="highcharts-container">
    <highcharts-chart id="full-seasons"
                      [Highcharts]="highcharts"
                      [options]="options"
                      [(update)]="updateFlag"
                      [oneToOne]="true"
                      style="width: 100%; height: 600px; display: block;">
    </highcharts-chart>
  </div>
</div>

<div class="statistic-data-wrapper">
  <div *ngFor="let statistic of statisticsData" class="statistic-data">
    <div class="description">{{statistic.description}}</div>
    <!-- single values -->
    <div *ngIf="statistic.data.percent" class="percent">({{statistic.data.percent}}%)</div>
    <div *ngIf="statistic.data.extremValue" class="percent">({{statistic.data.extremValue}})</div>

    <!-- array -->
    <div *ngIf="statistic.data.resultArray" class="values">
      <div *ngFor="let statisticsValue of statistic.data.resultArray"
           class="value"
           [style.width]="statistic.data.valuePxWidthForHtml+'px'">
        {{statisticsValue}}
      </div>
    </div>

    <!-- tables -->
    <div *ngIf="statistic.data.resultTable" class="statistic-data-table-wrapper">
      <table class="statistic-data-table">
        <thead>
        <th>&nbsp;</th>
        <th *ngFor="let value of statistic.data.resultTable.tableData[0].rowValues; let i = index" class="table-values">
          <span *ngIf="statistic.data.resultTable.tableData[0].rowValues.length > 1">{{i + 1}}.</span>
        </th>
        </thead>

        <tbody>
        <tr *ngFor="let tableDataRow of statistic.data.resultTable.tableData">
          <td class="name">
            <img alt="vereinslogo_{{teamMap.get(tableDataRow.name) | lowercase | replaceAll: ' ': '_'}}"
                 [src]='"assets/images/user/verein/logo_"+[teamMap.get(tableDataRow.name) | lowercase | replaceAll: " ": "_"]+"_s.png"'
                 onError="this.src='assets/images/user/verein/logo_default.png'"
                 class="team-logo"
            >
            <span>{{tableDataRow.name}}</span>
          </td>
          <td *ngFor="let value of tableDataRow.rowValues; let i = index"
              class="table-values"
              [ngClass]="tableDataRow.styling && tableDataRow.styling.imagePath ? 'image': ''"
          >
              <span *ngIf="value > 0; else empty" class="data-row-image-wrapper">
                <span *ngIf="!tableDataRow.styling || !tableDataRow.styling.imagePath; else image">
                  <span class="data">{{value}}</span>
                  <span class="hover-additional-data"
                        *ngIf="tableDataRow.rowValues.length > 1
                        && tableDataRow.additionalData
                        && tableDataRow.additionalData.get('' + i)"
                  >
                    <span *ngFor="let ligenRef of tableDataRow.additionalData.get('' + i)">
                      - {{ligenRef}}
                    </span>
                  </span>
                </span>
                <ng-template #image>
                  <img
                    *ngFor="let i of getArrayOfLength(value)"
                    alt="meisterlogo_{{i}}"
                    [src]='"assets/images/"+[tableDataRow.styling.imagePath | lowercase | replaceAll: " ": "_"]+""'
                    class="data-row-image">
                  <span class="hover-additional-data"
                        *ngIf="tableDataRow.rowValues.length > 1
                        && tableDataRow.additionalData
                        && tableDataRow.additionalData.get('' + i)"
                  >
                     <span *ngFor="let ligenRef of tableDataRow.additionalData.get('' + i)">
                      - {{ligenRef}}
                    </span>
                  </span>
                </ng-template>
              </span>
            <ng-template #empty>&nbsp;</ng-template>
          </td>
          <!--<td class="additional-data">-->
          <!--<span *ngIf="tableDataRow.additionalData && tableDataRow.rowValues.length === 1">-->
          <!--<span *ngFor="let additionalDataItem of tableDataRow.additionalData | keyvalue">-->
          <!--({{additionalDataItem.value.join(', ')}})-->
          <!--</span>-->
          <!--</span>-->
          <!--</td>-->
        </tr>
        </tbody>
      </table>
    </div>
    <hr>
  </div>
</div>

<!--<highcharts-chart id="full-seasons"-->
<!--[Highcharts]="highcharts"-->
<!--[options]="highcharts.options"-->
<!--[(update)]="updateFlag"-->
<!--[oneToOne]="true"-->
<!--style="width: 100%; height: 600px; display: block;">-->
<!--</highcharts-chart>-->
