.ewige-liga-tables-container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.title {
  width: 100%;
}

.ewige-liga-table-wrapper,
.ewige-liga-table-relative-wrapper {
  width: 100%;
}

.ewige-liga-table,
.ewige-liga-table-relative {
  margin-top: 10px;
  width: 100%;
  background-color: #fff;
}

.ewige-liga-table,
.ewige-liga-table-relative,
th {
  border-collapse: collapse;
}

.ewige-liga-table thead,
.ewige-liga-table tbody,
.ewige-liga-table tr,
.ewige-liga-table-relative thead,
.ewige-liga-table-relative tbody,
.ewige-liga-table-relative tr {
  width: 100%;
}

.ewige-liga-table th,
.ewige-liga-table-relative th {
  height: 32px;
  text-align: right;
  color: #fff;
  background-color: #ff9933;
}

th:nth-child(even) {
  background-color: red;
}

tr {
  height: 32px;
  text-align: right;
}
tr:nth-child(even) {
  background-color: #f5f5f5;
}
tr:hover {
  background-color: #e4e4e4;
}

td {
  vertical-align: middle;
  padding-top: 2px;
  padding-bottom: 2px;
}

.ewige-liga-table th.name,
.ewige-liga-table-relative th.name {
  text-align: left;
}

.position,
.games,
.wins,
.draws,
.defeats {
  width: 35px;
}
.points {
  width: 35px;
  padding-right: 5px;
}
.team {
  width: 32px;
  padding: 0 5px;
}
.name {
  text-align: left;
  font-weight: bold;
  width: calc(100% - 6*(35px) - 60px - 32px - 10px - 5px);
}
.quote {
  width: 60px;
}
td.wins,
td.draws,
td.defeats {
  font-style: italic;
}

.players-list .team img {
  width: 24px;
  height: 24px;
}

.team img {
  margin-top: 4px;
}






@media only screen and (min-width: 600px) {
  .ewige-liga-tables-container {
    font-size: 12px;
  }

  tr {
    height: 48px;
  }

  .position,
  .games,
  .wins,
  .draws,
  .defeats {
    width: 50px;
  }
  .points {
    width: 50px;
    padding-right: 10px;
  }
  .team {
    width: 60px;
    padding: 0 5px;
  }
  .name {
    text-align: left;
    font-weight: bold;
    width: calc(100% - 6*(50px) - 80px - 60px - 10px - 10px);
  }
  .quote {
    width: 80px;
  }

  .players-list .team img {
    width: 40px;
    height: 40px;
  }

  .ewige-liga-tables-container {
    margin-bottom: 30px;
  }
}



@media only screen and (min-width: 768px) {
  .ewige-liga-table-wrapper {
    width: 49%;
    margin-right: 1%;
  }
  .ewige-liga-table-relative-wrapper {
    width: 49%;
    margin-left: 1%;
  }
}
