<div class="ewige-liga-tables-container" *ngIf="ewigeLigaTabelleEntries.length > 0">
  <div class="ewige-liga-table-wrapper">
    <h3 class="title">Ewige Ligatabelle</h3>

    <table class="ewige-liga-table">
      <thead class="head">
      <th class="position">
        <span class="text">Platz</span>
      </th>
      <th class="team">
        <span class="text"></span>
      </th>
      <th class="name">
        <span class="text">Name</span>
      </th>
      <th class="games">
        <span class="text">Saisons</span>
      </th>
      <th class="games">
        <span class="text">Sp.</span>
      </th>
      <th class="wins">
        <span class="text">S</span>
      </th>
      <th class="draws">
        <span class="text">U</span>
      </th>
      <th class="defeats">
        <span class="text">N</span>
      </th>
      <th class="quote">
        <span class="text">Quote</span>
      </th>
      <th class="points">
        <span class="text">Pkt.</span>
      </th>
      </thead>
      <tbody class="players-list">
      <tr *ngFor="let player of ewigeLigaTabelleEntries" class="klopper">
        <td class="position">{{player.position}}</td>
        <td class="team">
          <img alt="vereinslogo_{{getTeam(player) | lowercase | replaceAll: ' ': '_'}}"
               [src]='"assets/images/user/verein/logo_"+[getTeam(player) | lowercase | replaceAll: " ": "_"]+".png"'
               onError="this.src='assets/images/user/verein/logo_default.png'"
               class="team-logo"
          >
        </td>
        <td class="name">{{player.name}}</td>
        <td class="seasons">{{player.seasons}}</td>
        <td class="games">{{player.playedGames}}</td>
        <td class="wins">{{player.wins}}</td>
        <td class="draws">{{player.draws}}</td>
        <td class="defeats">{{player.defeats}}</td>
        <td class="quote">{{player.quote}}</td>
        <td class="points">{{player.points}}</td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="ewige-liga-table-relative-wrapper">
    <h3 class="title">Ewige Ligatabelle (relativ pro Spiel)</h3>

    <table class="ewige-liga-table-relative">
      <thead class="head">
      <th class="position">
        <span class="text">Platz</span>
      </th>
      <th class="team">
        <span class="text"></span>
      </th>
      <th class="name">
        <span class="text">Name</span>
      </th>
      <th class="games">
        <span class="text">Saisons</span>
      </th>
      <th class="games">
        <span class="text">Sp.</span>
      </th>
      <th class="wins">
        <span class="text">S</span>
      </th>
      <th class="draws">
        <span class="text">U</span>
      </th>
      <th class="defeats">
        <span class="text">N</span>
      </th>
      <th class="quote">
        <span class="text">Quote</span>
      </th>
      <th class="points">
        <span class="text">Pkt.</span>
      </th>
      </thead>
      <tbody class="players-list">
      <tr *ngFor="let playa of ewigeLigaTabelleRelativeEntries" class="klopper">
        <td class="position">{{playa.position}}</td>
        <td class="team">
          <img alt="vereinslogo_{{getTeam(playa) | lowercase | replaceAll: ' ': '_'}}"
               [src]='"assets/images/user/verein/logo_"+[getTeam(playa) | lowercase | replaceAll: " ": "_"]+".png"'
               onError="this.src='assets/images/user/verein/logo_default.png'"
               class="team-logo"
          >
        </td>
        <td class="name">{{playa.name}}</td>
        <td class="seasons">{{playa.seasons}}</td>
        <td class="games">{{playa.playedGames}}</td>
        <td class="wins">{{playa.winsRelative}}</td>
        <td class="draws">{{playa.drawsRelative}}</td>
        <td class="defeats">{{playa.defeatsRelative}}</td>
        <td class="quote">{{playa.quote}}</td>
        <td class="points">{{playa.pointsRelative}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
