h1 {
  text-align: center;
}

.link-to-create-liga-wrapper {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-top: 10px;
}

.link-to-create-liga {
  margin-right: 12px;
  display: flex;
}

.filter-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

/* ###################################### Ligatabelle ###################################### */

.ligen-wrapper {
  display: flex;
  padding: 0 10px;
  width: cals(100% - 20px);
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.liga {
	display: flex;
	width: 100%;
	flex-wrap: wrap;
	margin-bottom: 20px;
}

.title {
 margin: 0 5px 0 0;
}

.first-round-wrapper,
.second-round-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 20px;
}
.title-small {
  display: flex;
  width: 100%;
  justify-content: center;
}

.liga-table {
	margin-top: 10px;
	width: calc(100% - 2px);
	background-color: #fff;
  border: 1px solid #ccc;
}

.liga-table,
th {
	border-collapse: collapse;
}

.liga-table thead,
.liga-table tbody,
.liga-table tr {
	width: 100%;
}

.liga-table th {
	height: 32px;
	text-align: right;
	color: #fff;
	background-color: #ff9933;
}
.liga-table.small th {
  height: 20px;
}

th:nth-child(even) {
	background-color: red;
}

tr {
	height: 32px;
	text-align: right;
}
.small tr {
  height: 20px;
}
tr:nth-child(even) {
	background-color: #f5f5f5;
}
tr:hover {
	background-color: #e4e4e4;
}

td {
	vertical-align: middle;
	padding-top: 2px;
	padding-bottom: 2px;
}

.liga-table th.name {
	text-align: left;
}

.position,
.games,
.wins,
.draws,
.defeats {
	width: 35px;
}
.points {
	width: 35px;
	padding-right: 5px;
}
.team {
	width: 32px;
	padding: 0 5px;
}
.name {
	text-align: left;
	font-weight: bold;
	width: calc(100% - 6*(35px) - 60px - 32px - 10px - 5px);
}
.quote {
	width: 60px;
}
td.wins,
td.draws,
td.defeats {
	font-style: italic;
}

.players-list .team img {
	width: 24px;
	height: 24px;
}

.opener-icon {
  width: 100%;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.liga-table-wrapper {
  display: none;
}
.liga.open .liga-table-wrapper {
  display: flex;
}

.team-logo {
  margin-top: 4px;
}




@media only screen and (min-width: 600px) {
	.ligen-wrapper {
		font-size: 12px;
	}

	tr {
		height: 48px;
	}

	.position,
	.games,
	.wins,
	.draws,
	.defeats {
		width: 50px;
	}
	.points {
		width: 50px;
		padding-right: 10px;
	}
	.team {
		width: 60px;
		padding: 0 5px;
	}
	.name {
		text-align: left;
		font-weight: bold;
		width: calc(100% - 6*(50px) - 80px - 60px - 10px - 10px);
	}
	.quote {
		width: 80px;
	}

	.players-list .team img {
	  width: 40px;
	  height: 40px;
	}
  .small .players-list .team img {
    width: 25px;
    height: 25px;
  }

	.ligen-wrapper, .liga {
		margin-bottom: 30px;
	}
}



@media only screen and (min-width: 768px) {
	.liga-table:not(.small),
  .first-round-wrapper {
		width: calc(49% - 2px);
		margin-right: 1%;
	}
  .second-round-wrapper {
    width: calc(49% - 2px);
    margin-left: 1%;
    margin-right: 0%;
  }
}


/* ###################################### Kreuztabelle ###################################### */

.kreuztabelle {
  margin-top: 10px;
  width: 100%;
  background-color: #fff;
}

.row {
  display: flex;
  width: 100%;
}
.row:nth-child(odd) {
  background-color: #f5f5f5;
}

.cell {
  flex: 1;
  display: flex;
  border: 1px solid #ccc;
  border-bottom: 0px;
  border-right: 0px;
  height: 47px;
}
.cell.head {
  height: 32px;
}
.cell.left-head {
  flex: 0.8;
}
.head,
.left-head {
  color: white;
  background-color: #ff9933;
}
.head .cell-content,
.left-head .cell-content {
  align-items: center;
}

.row:last-child .cell {
  border-bottom: 1px solid #ccc;
}

.cell:last-child {
  border-right: 1px solid #ccc;
}

.cell-content {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  cursor: pointer;
}

.unplayable {
  background-color: black;
}

.result-points,
.result-throws {
  width: 100%;
  display: flex;
  justify-content: center;
}
.result-points {
  font-weight: bold;
  margin: 10px 0px -3px 0px;
  font-size: 11px;
}
.result-throws {
  font-size: 10px;
}

.cell.first {
  background-color: #74800045;
}

@media only screen and (min-width: 768px) {
  .kreuztabelle {
    width: calc(49% - 2px);
    margin-left: 1%;
    margin-right: 0%;
  }
}
