<div class="news-ticker">
  <div class="news-ticker__news">
    <span class="news-ticker__title">{{texts.title}}</span>
    &nbsp;{{headline.text}}&nbsp;
    <a *ngIf="headline.extern" class="news-ticker__link" href="{{headline.href}}" target="_blank">{{texts.linkText}}</a>
    <a *ngIf="!headline.extern" class="news-ticker__link" [routerLink]="[headline.href]">{{texts.linkText}}</a>
  </div>
</div>
