.news-ticker {
  background-color: deeppink;
  color: white;
  padding: 15px;
  font-size: 1rem;
  text-align: center;
  margin-bottom: 10px;

  &__title {
    font-weight: 800;
    text-decoration: underline;
  }

  &__link {
    color: white;
  }
}
