<div class="links-wrapper">
  <ul class="list further-links">
    <li *ngFor="let link of links" class="item" routerLinkActive="active-link">
      <a target="_blank" href="{{link.href}}"
         class="link-text further-links-item-link">{{link.text}}</a>
    </li>
  </ul>
</div>
