@import "../general/colors";

.rules {
  display: flex;
  font-size: 1rem;
  line-height: 1.5;
  flex-direction: column;

  @media only screen and (min-width: 800px) {
    flex-direction: row;
  }

  &__navigation {
    padding: 50px 30px;
    flex: 1;

    &-item {
      &-label {
        padding: 10px;
        display: flex;
        align-items: center;
      }

      &-icon {
        background-size: cover;
        width: 20px;
        height: 20px;
        background-image: url("/assets/icons/baseline-expand_more-24px.svg");

        .rules__navigation-input:checked ~ .rules__navigation-item-label & {
          transform: rotate(180deg);
        }
      }
    }

    &--sub {
      display: none;
      padding-left: 20px;

      .rules__navigation-input:checked ~ & {
        display: block;
      }
    }

    &-input {
      display: none;
    }
  }

  &__container {
    padding: 30px 60px;
    flex: 4;
  }

  .to-do {
    color: red;
  }

  &__section {
    margin-bottom: 30px;

    &-headline {
      padding: 5px;
      text-transform: uppercase;

      &.h2 {
        color: white;
        background-color: $orange;
        font-size: 1rem;
      }

      &.h3 {
        font-size: 0.9rem;
      }
    }
  }
}
