<div class="rules">
  <div class="rules__navigation">
    <div *ngFor="let section of rules | keyvalue" class="rules__navigation-item">
      <input *ngIf="section.value.sections" type="checkbox" id="toggle-{{section.key}}" class="rules__navigation-input">
      <label *ngIf="section.value.sections" class="rules__navigation-item-label" for="toggle-{{section.key}}">
        {{section.value.headline}}&nbsp;
        <span class="rules__navigation-item-icon"></span>
      </label>
      <div *ngIf="section.value.sections" class="rules__navigation--sub">
        <div *ngFor="let subSection of section.value.sections | keyvalue" class="rules__navigation-item-label"
             (click)="jumpToSubSection(section.key, subSection.key)">
          {{subSection.value.headline}}
        </div>
      </div>
      <div *ngIf="!section.value.sections" class="rules__navigation-item-label" (click)="jumpToSection(section.key)">
        {{section.value.headline}}
      </div>
    </div>
  </div>

  <div class="rules__container">
    <h1>{{headline}}</h1>
    <div class="rules__section" *ngFor="let section of rules | keyvalue" [attr.data-id]="section.key">
      <h2><span class="rules__section-headline h2">{{section.value.headline}}</span></h2>
      <p *ngIf="section.value.paragraph">{{section.value.paragraph}}</p>
      <ul *ngIf="section.value.rules">
        <li *ngFor="let rule of section.value.rules | keyvalue" [ngClass]="{'to-do': rule.value.indexOf('TODO') > - 1}">{{rule.value}}</li>
      </ul>
      <div *ngIf="section.value.sections">
        <div *ngFor="let subSection of section.value.sections | keyvalue" [attr.data-id]="section.key + '-' + subSection.key">
          <h3><span class="rules__section-headline h3">{{subSection.value.headline}}</span></h3>
          <ul *ngIf="subSection.value.rules">
            <li *ngFor="let rule of subSection.value.rules | keyvalue" [ngClass]="{'to-do': rule.value.indexOf('TODO') > - 1}">{{rule.value}}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
