.soundboard__container {
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
}

.soundboard__wrapper {
  position: fixed;
  top: 0;
  left: 100%;
  transition: left 0.4s;
  width: 100vw;
  height: 100vh;
  background: #eee;
  z-index: 845;
  overflow-y: scroll;

  @media only screen and (min-width: 900px) {
    width: 40vw;
  }

  @media only screen and (min-width: 1400px) {
    width: 30vw;
  }

  .soundboard__container.open & {
    left: 0;

    @media only screen and (min-width: 900px) {
      left: 60%;
      -webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
      -moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
      box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
    }

    @media only screen and (min-width: 1400px) {
      left: 70%;
    }
  }
}

.soundboard__opener {
  position: fixed;
  top: 50%;
  transform: rotate(-90deg);
  right: -34px;
  padding: 10px;
  border-radius: 2px;
  transition: right 0.4s;
  background-color: #ff9933;
  color: white;
  font-weight: 800;
  font-size: 1rem;
  cursor: pointer;
  box-shadow: rgba(255, 255, 255, 0.25) 1px 1px 1px inset, rgba(0, 0, 0, 0.5) 0px 1px 2px;
  z-index: 5000;
  user-select: none;

  .soundboard__container.open & {
    right: 100%;

    @media only screen and (min-width: 900px) {
      right: calc(40% - 34px);
    }

    @media only screen and (min-width: 1400px) {
      right: calc(30% - 34px);
    }
  }
}

.soundboard__closer {
  display: flex;
  justify-content: flex-end;
}

.soundboard__opener-icon,
.soundboard__closer-icon {
  background-size: cover;
  width: 50px;
  height: 50px;
}

.soundboard__opener-icon {
  background-image: url("/assets/icons/baseline-chevron_left-24px.svg");
  -webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);

  .soundboard__container.open & {
    transform: rotate(180deg);
  }
}

.soundboard__closer-icon {
  background-image: url("/assets/icons/baseline-close-24px.svg");
}

.soundboard {
  &__headline {
    padding: 0 40px;
  }

  &__group {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    padding: 0 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 20px;
  }

  &__button-wrapper {
    width: 50%;
    padding: 10px;
    box-sizing: border-box;

    @media only screen and (min-width: 600px) {
      width: 33.33%;
    }

    @media only screen and (min-width: 900px) {
      width: 50%;
    }

    @media only screen and (min-width: 1200px) {
      width: 33.33%;
    }
  }

  &__button {
    height: 60px;
    padding: 0 10px;
    //background-image: url("/assets/images/balken.png");
    //background-size: cover;
    background-color: #333;
    border-radius: 4px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    transition: all 0.1s;
    cursor: pointer;
    text-align: center;
    box-shadow: rgba(255, 255, 255, 0.25) 1px 1px 1px inset, rgba(0, 0, 0, 0.5) 0px 1px 2px;

    &.active {
      transform: scale(0.95);
      filter: brightness(0.8);
    }
  }
}
