<div class="soundboard__container" [ngClass]="{'open': open}">
  <div class="soundboard__opener" (click)="toggleSoundBoard()">Soundboard</div>
  <div class="soundboard__wrapper">
    <div class="soundboard__closer" (click)="toggleSoundBoard()"><div class="soundboard__closer-icon"></div></div>
    <div class="soundboard">
      <div *ngFor="let category of soundBoardCategories" class="soundboard__category">
        <div class="soundboard__headline">{{category.toString().toUpperCase()}}</div>
        <div class="soundboard__group">
          <div *ngFor="let sound of getFilteredSounds(category) | keyvalue" (click)="playSound($event, sound.key)" class="soundboard__button-wrapper">
            <div class="soundboard__button">{{sound.key}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
