<div class="article-form__background">
  <form class="article-form" action="" (ngSubmit)="save()" *ngIf="loginService.isUserLoggedIn()">
    <div class="article-form__group head">
      <input type="text" [(ngModel)]="article.subline" class="article-form__input subline" id="subline" name="subline"
             placeholder="{{texts.subline}}&nbsp;*">
    </div>
    <div class="article-form__group">
    <textarea rows=3 [(ngModel)]="article.headline" class="article-form__input headline" id="headline" name="headline"
              placeholder="{{texts.headline}}&nbsp;*"></textarea>
    </div>

    <div class="article-form__group">
      <div class="article-form__image-wrapper">
        <img class="article-form__image" [src]="image.path" alt="">
        <input class="article-form__image-upload" type="file" (change)="onDrop($event.target.files)">
      </div>
    </div>

    <div class="article-form__group">
      <label for="imageCredit" class="article-form__label">{{texts.imageCredit}}&nbsp;*</label>
      <input type="text" [(ngModel)]="article.imageCredit" class="article-form__input" id="imageCredit"
             name="imageCredit">
    </div>
    <div class="article-form__group">
      <div class="article-form__sub-group">
        <label for="plus" class="article-form__label">{{texts.plus}}</label>
        <input type="checkbox" [(ngModel)]="article.plus" class="article-form__input" id="plus" name="plus">
      </div>
      <div class="article-form__sub-group">
        <label for="interview" class="article-form__label">{{texts.interview}}</label>
        <input type="checkbox" [(ngModel)]="article.interview" class="article-form__input" id="interview"
               name="interview">
      </div>
    </div>
    <div *ngIf="article.interview" class="article-form__group">
      <label for="interviewee" class="article-form__label">{{texts.intervieweeLabel}}&nbsp;*</label>
      <input type="text" [(ngModel)]="article.interviewee" class="article-form__input" id="interviewee"
             name="interviewee">
    </div>
    <div *ngIf="article.interview" class="article-form__group">
      <label for="interviewPreface" class="article-form__label">{{texts.interviewPrefaceLabel}}&nbsp;*
        <span>({{article.interviewPreface.length}}&nbsp;Zeichen)</span></label>
      <textarea [(ngModel)]="article.interviewPreface"
                class="article-form__textarea"
                id="interviewPreface"
                name="interviewPreface"
                rows="3"
                placeholder="{{texts.interviewPrefacePlaceholder}}">
      </textarea>
    </div>
    <div class="article-form__group">
      <label for="paragraph" class="article-form__label">{{texts.paragraph}}&nbsp;* <span>({{article.paragraph.length}}&nbsp;Zeichen)</span></label>
      <span *ngIf="article.interview" class="hint">{{'&#60;br&#62;'}} trennt Interviewteile, {{'&#60;in&#62;'}}
        schreibt die Initialen der Interviewten</span>

      <div class="article-form__paragraph-wrapper" *ngFor="let paragraph of article.paragraphs; let i = index; trackBy: trackByFn">
        <div class="article-form__paragraph">
          <input (blur)="updateHeadline($event, paragraph)"
                 type="text"
                 name="paragraph-headline"
                 class="article-form__input"
                 [placeholder]="'Absatz ' + i + ' Überschrift'">
          <textarea (blur)="updateParagraph($event, paragraph)"
                    class="article-form__textarea"
                    id="paragraph"
                    name="paragraph"
                    rows="5"
                    [placeholder]="'Absatz ' + i + ' Text'"></textarea>
        </div>
        <div *ngIf="i === article.paragraphs.length - 1 && article.paragraphs.length > 1"
             (click)="removeParagraph()">
          <div class="article-form__paragraph-action article-form__paragraph-action--remove"></div>
        </div>
      </div>
      <div (click)="addParagraph()"
           class="article-form__paragraph-action article-form__paragraph-action--add"></div>
    </div>
    <div class="article-form__group">
      <label for="author" class="article-form__label">{{texts.author}}&nbsp;*</label>
      <input type="text" [(ngModel)]="article.author" class="article-form__input" id="author" name="author">
    </div>
    <div class="article-form__group">
      <button class="article-form__button">{{texts.button}}</button>
    </div>
    <div class="article-form__group article-form__error" *ngIf="error">{{texts.error}}</div>
    <div class="article-form__group article-form__success" *ngIf="success">{{texts.success}}</div>
    <div class="article-form__group">
      *&nbsp;{{texts.required}}
    </div>
  </form>
  <app-login-error *ngIf="!loginService.isUserLoggedIn()"></app-login-error>
</div>
