.container {
  max-width: 1200px;
  padding: 30px 30px 50px;
  margin: 0 auto;
}

.article-form {
  max-width: 800px;
  margin: 0 auto;
  padding: 30px;
  background-color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;

  &__background {
    background-color: #eee;
  }

  &__group {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;

    &.head {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__label {
    margin-bottom: 10px;
  }

  &__paragraph-action {
    background-size: cover;
    width: 30px;
    height: 30px;
    border: 2px solid #1a1a1a;
    border-radius: 50%;
    cursor: pointer;

    &--add {
      background-image: url('/assets/icons/baseline-add-24px.svg');
    }

    &--remove {
      background-image: url('/assets/icons/remove-24px.svg');
    }
  }

  &__paragraph {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    flex: 1;

    &-wrapper {
      display: flex;
      align-items: center;
    }
  }

  &__input,
  &__textarea {
    border: none;
    border-bottom: 1px solid black;
    font-size: 1rem;
    margin-top: 20px;
  }

  &__input {
    font-family: 'Roboto', sans-serif;
    &.headline {
      font-weight: 800;
      font-size: 1.8rem;
    }

    &.subline {
      background-color: #ff9933;
      border-bottom: none;
      font-size: 0.9rem;
      padding: 3px 5px;
      text-transform: uppercase;
      font-weight: 900;
      color: white;
      width: 65%;

      &::placeholder {
        text-transform: uppercase;
        font-weight: 900;
        color: white;
      }
    }
  }

  &__image {
    width: 100%;

    &-credit {
      font-size: 0.7rem;
    }

    &-wrapper {
      height: 0;
      overflow: hidden;
      padding-bottom: 55.3%;
      position: relative;
    }

    &-upload {
      position: absolute;
      left: 35%;
      top: 60%;
    }
  }

  &__button {
    margin-top: 20px;
    background-color: white;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    padding: 10px;
    -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.75);
  }

  &__error,
  &__success {
    margin-top: 30px;
  }

  &__error {
    color: red;
  }

  &__success {
    color: green;
  }

  .hint {
    font-size: 11px;
    color: #ff9933;
  }
}
