<div class="link-to-bakloppistan-results-wrapper">
  <div class="link-to-bakloppistan-results"><a [routerLink]="['/balkloppistan']">BalKloppistan-Ergebnisse</a></div>
</div>
<h1>Reise nach BalKloppistan - "{{balkloppistan.name}}"</h1>

<!--next-round-buttons-->
<div class="players">
  <!--for regular rounds-->
  <div class="next-rounds" [attr.data-round-index]="balkloppistan.currentRoundIndex">
    <div *ngFor="let rounds of getOneItemForEachOfTheMaximumNumberOfPlayerRounds(), let i = index" class="next-round">
      <div *ngIf="i === balkloppistan.currentRoundIndex - 1" class="button" (click)="finishRound()">+</div>
    </div>
    <!--for sudden-death-rounds-->
    <div class="next-round sudden-death">
      <div *ngIf="showSuddenDeathFields" class="button" (click)="finishSuddenDeathRound()">+</div>
    </div>
  </div>
  <!--player columns-->
  <div *ngFor="let player of getPlayers()" class="player">
    <span class="name">{{player.name}}</span>
    <span class="quote">{{player.quote}}</span>
    <!--round data-->
    <div *ngFor="let round of player.rounds" class="round">
      <div class="round-data" (click)="activateInputButtons(player.name, round.index)"
           [attr.data-name]="player.name">
        <div class="throw-value">{{round.throwValue}}</div>
        <div class="handicaped-value">{{round.handicapedValue}}</div>
      </div>
      <!--sudden-death-input-->
      <div *ngIf="showSuddenDeathFieldsForPlayer(player.name)" class="sudden-death-data-wrapper">
        <div class="sudden-death-data" (click)="activateSuddenDeathInputButtons(player.name)">
          {{getCurrentSuddenDeathValueForPlayer(player.name)}}
        </div>
      </div>
    </div>
  </div>
</div>
<!--input-button-layer for regular throws-->
<div class="input-buttons-wrapper" *ngIf="showInputButtons">
  <div *ngFor="let i of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]"
       class="throw-button"
       (click)="setThrowsValue(balkloppistan.currentRoundIndex, currentPlayerName, i)"
       [ngStyle]="{
       'left': getLeftValue(i),
       'top': getTopValue(i)
       }">{{i}}</div>
  s
  <div class="closer" (click)="deactivateInputButtons()">X</div>
</div>
<!--input-button-layer for sudden-death-throws-->
<div class="sudden-death-input-buttons-wrapper" *ngIf="showSuddenDeathInputButtons">
  <div *ngFor="let i of [3, 2, 1, 0]"
       class="throw-button"
       (click)="setSuddenDeathThrowValue(currentPlayerName, i)"
       [ngStyle]="{
       'left': getSuddenDeathLeftValue(i),
       'top': getSuddenDeathTopValue(i)
       }">{{i}}</div>
  <div class="closer" (click)="deactivateSuddenDeathInputButtons()">X</div>
</div>
<!--error-texts-->
<div class="errors">
  <div *ngIf="showUnfinishedErrorText">Kloppt erstmal die Runde ferddich, ey!</div>
</div>
