.link-to-bakloppistan-results-wrapper {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-top: 10px;
}

.link-to-bakloppistan-results {
  margin-right: 12px;
  display: flex;
}

h1 {
  text-align: center;
}

.players {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.player {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100px;
  margin-right: 2px;
}

.name,
.quote {
  display: inline-flex;
  justify-content: center;
  height: 20px;
}

.round {
  display: flex;
  width: 100%;
  height: 40px;
  margin-bottom: 2px;
  background-color: #eee;
  position: relative;
}

.round-data {
  width: 100%;
  height: 100%;
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  flex-direction: column;
  position: relative;
}

.throw-value {
  background-color: #ff9933;
  display: flex;
  justify-content: center;
  width: 20%;
  margin-left: calc(80% - 2px);
  margin-right: 2px;
  margin-top: 1px;
  position: absolute;
}

.handicaped-value {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  position: absolute;
  font-size: 20px;
}

.input-buttons-wrapper,
.sudden-death-input-buttons-wrapper {
  position: fixed;
  top: 50px;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: #00000099;
}

.throw-button {
  width: 50px;
  height: 50px;
  background-color: #ff9933;
  border: 2px solid #fff;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  border-radius: 30px;
}

.closer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  border-radius: 35px;
  background-color: #ddd;
  position: absolute;
  left: calc(50% - 35px);
  top: 280px;
  font-size: 36px;
}

.next-rounds {
  display: flex;
  margin-left: 10px;
  order: 2;
  flex-direction: column;
}

.next-round {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  margin-bottom: 2px;
}
.next-round:first-child {
  margin-top: 40px;
}
.next-round.sudden-death {
  height: 30px;
  margin-bottom: 0px;
}

.next-round .button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ccc;
  border-radius: 10px;
  width: 20px;
  height: 20px;
  border-radius: 10px;
}

.next-round .button.hidden {
  display: none;
}

.errors {
  margin-top: 15px;
  width: 100%;
  color: red;
  font-weight: bold;
  text-align: center;
}

.sudden-death-data {
  position: absolute;
  top: 42px;
  left: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 24px;
  border: 1px solid #000;
}
