.article {
  width: 100%;
  padding: 30px;
  box-sizing: border-box;
  position: relative;

  @media only screen and (min-width: 600px) {
    width: 50%;

    &--large {
      width: 100%;
    }
  }

  @media only screen and (min-width: 992px) {
    width: 33.33%;

    &--large {
      width: 100%;
    }
  }

  &__link {
    text-decoration: none;
  }

  &__rating {
    display: flex;
    position: relative;
    margin-bottom: 10px;
  }

  &__stars {
    display: flex;
    position: absolute;
    left: 0;
    top: 0;

    &--filled {
      z-index: 1;
    }
  }

  &__star {
    width: 20px;
    height: 20px;
    background-size: cover;
    background-image: url("/assets/icons/star_border-24px.svg");

    &--filled {
      background-image: url("/assets/icons/star-24px.svg");
    }
  }

  &__headline {
    font-weight: 800;
    font-size: 1.8rem;
    margin-bottom: 10px;
    min-height: 102px;

    &:hover {
      text-decoration: underline;
    }

    .article--large & {
      min-height: 0;
    }
  }

  &__subline {
    font-weight: 900;
    text-transform: uppercase;
    font-size: 0.9rem;
    margin-bottom: 10px;

    span {
      background-color: #ff9933;
      color: white;
      padding: 2px 5px;
    }
  }

  &__paragraph {
    font-size: 1rem;
    margin-top: 20px;
    line-height: 1.3;

    &-headline {
      font-weight: 800;
      margin-top: 20px;
      margin-bottom: 20px;
    }

    .article__plus {
      color: #ff9933;
      font-weight: 900;
    }

    &-wrapper {
      height: 6.3em;
      overflow: hidden;
    }
  }

  &__below-image {
    display: flex;
    justify-content: space-between;
    height: 18px;
  }

  &__date {
    font-size: 0.8rem;
    margin-bottom: 5px;
    text-align: right;
  }

  &__author {
    margin-top: 10px;
    font-size: 0.8rem;
  }

  &__image {
    max-width: 100%;

    .article--large & {
      width: 100%;
    }

    &-credit {
      font-size: 0.7rem;
    }

    &-wrapper {
      height: 0;
      overflow: hidden;
      padding-bottom: 55.3%;

      .article--large & {
        padding-bottom: 30%;
      }
    }
  }

  &__more {
    font-weight: 800;
    text-decoration: none;
  }

  &__add {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: auto;

    &-button {
      background-image: url('/assets/icons/baseline-add-24px.svg');
      background-size: cover;
      width: 80px;
      height: 80px;
      border: 2px solid #1a1a1a;
      border-radius: 50%;
      cursor: pointer;
      transition: transform .2s ease-in-out;

      &:hover {
        background-color: #aaa;
      }

      &.close {
        transform: rotate(45deg);
      }
    }
  }

  .interview-preface {
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 13px;
  }

  .interview {
    font-size: 13px;
    column-count: 2;
    column-gap: 3em;
    column-rule: 1px dotted #f93;
  }

  @media only screen and (min-width: 992px) {
    .interview-preface {
      font-size: 14px;
    }
    .interview {
      font-size: 14px;
    }
  }
}

@mixin new {
  content: 'what‽';
  position: absolute;
  color: white;
  font-weight: bold;
  background-color: #4682b4;
  transform: rotate(45deg);
  box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.75);
}

.new-article-type:after {
  @include new();
  font-weight: normal;
  right: -14px;
  top: -5px;
  z-index: 2;
  font-size: 10px;
  padding: 1px 2px;
}

.new-article:after {
  @include new();
  top: 20px;
  right: 0;
  font-size: 20px;
  height: 22px;
  padding: 0 4px 3px;
}
