.comments {
  padding: 30px 30px;

  &__headline {
    font-size: 1.6rem;
    font-weight: 800;
    margin-bottom: 30px;
    display: flex;
    align-items: center;

    &-comment-length {
      font-size: 1.1rem;
      font-weight: 400;
      margin-left: 5px;
    }
  }

  &__section {
    &--add {
      margin-bottom: 30px;
    }
  }

  .comment {
    position: relative;
    margin-bottom: 30px;
    font-size: 1rem;
    line-height: 1.3;

    &:hover .comment__delete {
      display: block;
    }

    &__add {
      margin-top: 20px;
      display: flex;
      flex-direction: column;
    }

    &__input {
      margin-bottom: 20px;
      border: none;
      border-bottom: 1px solid black;
      font-size: 1rem;
      line-height: 1.3;

      &.error {
        border-color: darkred;
        background-color: lightcoral;
      }

      &--rating {
        display: flex;
        margin-bottom: 20px;
        cursor: pointer;
      }
    }

    &__hint {
      margin-bottom: 20px;
    }

    &__name {
      color: #ff9933;
    }

    &__time {
      color: #000;
      font-size: 0.8rem;
      font-weight: 400;

      &--with-name {
        margin-left: 10px;
      }
    }

    &__name,
    &__headline {
      font-weight: 800;
    }

    &__headline,
    &__text {
      margin-top: 10px;
    }

    &__headline {
      display: flex;
      align-items: center;
    }

    &__rating {
      display: flex;

      &--with-text {
        margin-left: 5px;
      }
    }

    &__star {
      width: 20px;
      height: 20px;
      background-size: cover;
      background-image: url("/assets/icons/star_border-24px.svg");

      &--filled {
        background-image: url("/assets/icons/star-24px.svg");
      }
    }

    &__delete {
      display: none;
      position: absolute;
      top: 40%;
      right: 0;
      cursor: pointer;
      width: 24px;
      height: 24px;
      background-image: url("/assets/icons/baseline-close-24px.svg");
    }
  }
}
