<div class="article__page">
  <div class="article__wrapper">
    <div class="article article--large">
      <div class="article__link">
        <div class="article__subline">
          <span>{{article.subline}}</span>
        </div>
        <div class="article__headline">{{article.headline}}</div>
        <div class="article__rating">
          <!--<div class="article__stars">-->
            <div *ngFor="let star of [1,2,3,4,5];let i = index"
                 class="article__star"
                 [ngClass]="{'article__star--filled': i + 1 <= roundedAverageRating.length}">
            </div>
          <!--</div>-->
          <!--<div class="article__stars article__stars&#45;&#45;filled">-->
            <!--<div *ngFor="let star of roundedAverageRating; let i = index"-->
                 <!--class="article__star&#45;&#45;filled"-->
                 <!--[style.width]="getStarWidth(i)">-->
            <!--</div>-->
          <!--</div>-->
        </div>
        <div class="article__image-wrapper">
          <img [defaultImage]="defaultImage" [lazyLoad]="article.image" alt="" class="article__image">
        </div>
      </div>
      <div class="article__below-image">
        <div *ngIf="article.imageCredit"
             class="article__image-credit">{{staticTexts.photoCopyright}}&nbsp;{{article.imageCredit}}</div>
        <div class="article__date">{{article.date}}</div>
      </div>
      <div class="article__paragraph">
        <div *ngIf="!article.paragraph">
          <div *ngFor="let paragraph of article.paragraphs; let i =  index">

            <div class="article__paragraph-headline">{{paragraph.headline}}</div>
            <div class="article__paragraph-text">
              <span *ngIf="article.plus && i === 0" class="article__plus">{{staticTexts.plus}}&nbsp;</span>
              <span *ngIf="!article.interview; else interview" [innerHTML]="paragraph.text"></span>&nbsp;
            </div>

          </div>
        </div>
        <span *ngIf="!article.interview && article.paragraph; else interview"> {{article.paragraph}}</span>
        <ng-template #interview>
          <div class="interview-preface">{{article.interviewPreface}}</div>
          <div class="interview">
            <p *ngFor="let part of getParts(article)" class="interview-part" [innerHTML]="part"></p>&nbsp;
          </div>
        </ng-template>
      </div>
      <div class="article__author" *ngIf="article.author">
        {{staticTexts.author}}:&nbsp;{{article.author}}
      </div>
    </div>

    <div class="comments">
      <div class="comments__headline">
        Kommentare
        <span *ngIf="article.comments" class="comments__headline-comment-length">({{article.comments.length}})</span>
      </div>
      <div class="comments__section comments__section--add">
        <button (click)="showAddComment = true">Kommentar schreiben</button>
        <div *ngIf="showAddComment" class="comment__add">
          <label for="">Name: *</label>
          <input class="comment__input" [ngClass]="{'error': error}" type="text" [(ngModel)]="comment.author" (input)="error = false">
          <label for="">Überschrift:</label>
          <input class="comment__input" type="text" [(ngModel)]="comment.headline">
          <div>Bewertung:</div>
          <div class="comment__input--rating">
            <div *ngFor="let star of [1,2,3,4,5]; let i = index"
                 class="comment__star"
                 (click)="setRating(i + 1)"
                 [ngClass]="{'comment__star--filled': i + 1 <= comment.rating}">
            </div>
          </div>
          <label for="">Kommentar:</label>
          <textarea class="comment__input" name="" id="" cols="30" rows="10" [(ngModel)]="comment.text" (input)="safeComment = true"></textarea>
          <div class="comment__hint">* Pflichtfeld</div>
          <button (click)="addComment()">Kommentar abschicken</button>
        </div>
      </div>
      <div class="comments__section">
        <div *ngFor="let comment of article.comments" class="comment">
          <div class="comment__name">{{comment.author}}
            <span class="comment__time"
                  [ngClass]="{'comment__time--with-name': comment.author}">
              {{getCommentDate(comment.time.toString())}}
            </span>
          </div>
          <div class="comment__headline">{{comment.headline}}
            <div class="comment__rating" [ngClass]="{'comment__rating--with-text': comment.headline}">
              <div *ngFor="let star of [1,2,3,4,5]; let i = index"
                   class="comment__star"
                   [ngClass]="{'comment__star--filled': i + 1 <= comment.rating}">
              </div>
            </div>
          </div>
          <div class="comment__text">{{comment.text}}</div>
          <div *ngIf="loginService.isUserLoggedIn() && comment.id" (click)="deleteComment(comment.id)" class="comment__delete"></div>
        </div>
      </div>
    </div>

    <div class="article__navigation">
      <div class="article__navigation-prev" [routerLink]="['/article', id - 1]"></div>
      <div class="article__navigation-next" [routerLink]="['/article', id + 1]"></div>
    </div>
  </div>
</div>
