@import "article";
@import "comments";

.article__image {
  height: auto;
  padding-bottom: 0;
}

.article--large .article__image-wrapper {
  height: auto;
  padding-bottom: 0;
}

.article__page {
  background-color: #eee;
}

.article__wrapper {
  max-width: 800px;
  margin: 0 auto;
  padding-bottom: 60px;
  background-color: white;
}

.article__navigation {
  padding: 0 30px;
  display: flex;

  &-prev,
  &-next {
    background-size: cover;
    width: 50px;
    height: 50px;
    cursor: pointer;
  }

  &-prev {
    background-image: url("/assets/icons/arrow_back-24px.svg");
  }

  &-next {
    background-image: url("/assets/icons/arrow_forward-24px.svg");
  }
}
