:host {
  width: 100%;
  height: 100%;
}

.content {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.color-change {
  background: linear-gradient(124deg, #ff2400, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3, #dd00f3);
  background-size: 1800% 1800%;
  animation: rainbow 30s ease infinite;
}
@keyframes rainbow {
  0% { background-position: 0% 82% }
  50% { background-position: 100% 19% }
  100% { background-position: 0% 82% }
}


.img {
  height: 100%;
}

@media only screen and (min-width: 1200px) {
  .content {
    width: 100%;
    height: 100%;
    display: block;
  }

  .img {
    margin-top: 50px;
    width: 100%;
    height: unset;
  }

}
