.create-balkloppistan {
  width: 98%;
  margin: 0 1%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.headline {
  display: flex;
  font-size: 18px;
}
.content {
  display: flex;
  width: 100%;
}

.create-balkloppistan-form {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.create-balkloppistan-form .form-group {
  width: 100%;
  display: flex;
  font-size: 16px;
  margin-bottom: 10px;
}
.create-balkloppistan-form .label {
  font-weight: bold;
}

.create-balkloppistan-form .form-group.one-line {
  align-items: center;
  height: 24px;
  justify-content: center;
}
.create-balkloppistan-form .label {
  width: 100px;
  display: flex;
}
.create-balkloppistan-form .values {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
}

.create-balkloppistan-form .form-group.one-line input{
  width: 100%;
  display: flex;
  text-align: center;
}

.create-balkloppistan-form .form-group.multi-line {
  flex-wrap: wrap;
  margin-top: 10px;
}
.create-balkloppistan-form .multi-line .label {
  width: 100%;
  padding-bottom: 5px;
}
.create-balkloppistan-form .multi-line .values {
  width: 100%;
  flex-wrap: wrap;
}

.user {
  width: 100%;
  display: flex;
  font-size: 15px;
  height: 22px;
  justify-content: center;
}

.user-name {
  width: 100%;
  display: inline-flex;
  justify-content: center;
}

.user-checkbox {
  display: none;
}

.user-checkbox:checked + .user-name {
  background-color: #ff9933;
}


.alert {
  color: red;
  font-size: 10px;
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 3px;
}

.conditional-button-wrapper {
  width: 80%;
  margin: 10px 10% 0 10%;
  height: 26px;
}

.create-balkloppistan-form .form-btn {
  width: 100%;
}
