<div class="create-balkloppistan" *ngIf="loginService.isUserLoggedIn()">
  <div class="headline"><h2>BalKloppistan erstellen</h2></div>
  <div class="content" [hidden]="submitted">

    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="create-balkloppistan-form">
      <div class="form-group one-line">
        <div class="values">
          <input
              type="text"
              id="name"
              name="name"
              formControlName="name"
              placeholder="BalKloppistanname"
              class="form-input"
          >
          <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert">
            <div *ngIf="name.errors.required">BalKloppistanname wird benötigt.</div>
          </div>
        </div>
      </div>
      <div class="form-group multi-line">
        <div class="label">Teilnehmer*innen:</div>
        <div class="values">
          <label formArrayName="players"
                 *ngFor="let player of form.controls.players.controls; let i = index"
                 class="user">
            <input type="checkbox" [formControlName]="i" class="user-checkbox">
            <span class="user-name">{{users[i].name}}</span>
          </label>
        </div>
      </div>
      <div *ngIf="form.valid" class="conditional-button-wrapper">
        <button type="submit" class="form-btn">BalKloppistan erstellen</button>
      </div>
    </form>
  </div>
</div>

<app-login-error *ngIf="!loginService.isUserLoggedIn()"></app-login-error>
