<div class="link-to-create-liga-wrapper">
  <img alt="meister-trophae" [src]='"assets/images/league-trophy_l.png"' class="meister-trophae">
  <div class="link-to-create-liga"><a [routerLink]="['/createLiga']" *ngIf="loginService.isUserLoggedIn()">Liga
    erstellen</a></div>
</div>
<h1>IBKA® ThyssenKrupp Magnettechnik-Liga</h1>
<div class="filter-wrapper">
  <h3 class="title">Saison</h3>
  <select name="filter_name_season"
          id="filter_name_season"
          class="form-input filter"
          (change)="nameFilterChanged($event.target.value)">
    <option value="default" class="first">--</option>
    <option *ngFor="let currentLiga of orderByLigaId(ligen, true)" [value]="currentLiga.name">{{currentLiga.name}}</option>
  </select>
  <select name="filter_name_event"
          id="filter_name_event"
          class="form-input filter"
          (change)="nameFilterChanged($event.target.value)">
    <option value="default" class="first">--</option>
    <option *ngFor="let currentLiga of orderByLigaId(ligen, false)" [value]="currentLiga.name">{{currentLiga.name}}</option>
  </select>
  <h3 class="title">Event</h3>
</div>
<div class="ligen-wrapper">
  <div class="liga">
    <table class="liga-table complete">
      <thead class="head">
      <th class="position">
        <span class="text">Platz</span>
      </th>
      <th class="team">
        <span class="text"></span>
      </th>
      <th class="name">
        <span class="text">Name</span>
      </th>
      <th class="games">
        <span class="text">Sp.</span>
      </th>
      <th class="wins">
        <span class="text">S</span>
      </th>
      <th class="draws">
        <span class="text">U</span>
      </th>
      <th class="defeats">
        <span class="text">N</span>
      </th>
      <th class="quote">
        <span class="text">Quote</span>
      </th>
      <th class="points">
        <span class="text">Pkt.</span>
      </th>
      </thead>
      <tbody class="players-list">
      <tr *ngFor="let player of orderByPosition(tablePlayers)" class="klopper">
        <td class="position">{{player.position}}</td>
        <td class="team">
          <img alt="vereinslogo_{{getTeam(player.name) | lowercase | replaceAll: ' ': '_'}}"
               [src]='"assets/images/user/verein/logo_"+[getTeam(player.name) | lowercase | replaceAll: " ": "_"]+".png"'
               onError="this.src='assets/images/user/verein/logo_default.png'"
               class="team-logo"
          >
        </td>
        <td class="name">{{player.name}}&nbsp;<span class="team-for-name-column">({{getTeam(player.name)}})</span></td>
        <td class="games">{{player.playedGames}}</td>
        <td class="wins">{{player.wins}}</td>
        <td class="draws">{{player.draws}}</td>
        <td class="defeats">{{player.defeats}}</td>
        <td class="quote">
          <span class="value">{{player.quote}}</span>
          <span class="details">
            <span class="throw-sum">{{player.throwsSum}} Pkt.</span>
            <span class="number-of-throws">{{player.numberOfThrows}} W.</span>
          </span>
        </td>
        <td class="points">{{player.points}}</td>
      </tr>
      </tbody>
    </table>

    <div class="kreuztabelle">
      <div class="kreuztabellen-content">
        <div class="row header">
          <div class="cell head left-head unplayable">&nbsp;</div>
          <div *ngFor="let columnPlayerName of getColumnPlayerNames(liga)"
               class="cell head">
            <div class="cell-content name" [ngClass]="getName(columnPlayerName).indexOf('...') > -1 ? 'part' : ''">
              {{getName(columnPlayerName)}}
              <span *ngIf="getName(columnPlayerName).indexOf('...') > -1" class="full-name">
                {{columnPlayerName}}
              </span>
            </div>
          </div>
        </div>
        <div *ngFor="let row of rows" class="row">
          <div class="cell left-head">
            <div class="cell-content name"
                 [ngClass]="getName(row.ligaGameTableGames[0].rowPlayerName).indexOf('...') > -1 ? 'part' : ''">
              {{getName(row.ligaGameTableGames[0].rowPlayerName)}}
              <span *ngIf="getName(row.ligaGameTableGames[0].rowPlayerName).indexOf('...') > -1" class="full-name">
                {{row.ligaGameTableGames[0].rowPlayerName}}
              </span>
            </div>
          </div>
          <div *ngFor="let game of row.ligaGameTableGames" class="cell" [ngClass]="game.round">
            <a *ngIf="game.playable; else unplayable" class="cell-content game" (click)="onCellClick(game, liga.name)">
              <div *ngIf="game.gameRef !== 'tbp.'"
                   class="result-points">{{getResultPointsForPlayer(game, 'A')}}&nbsp;<span
                [innerHTML]="getResult(game)"></span>&nbsp;{{getResultPointsForPlayer(game, 'B')}}</div>
              <div *ngIf="game.gameRef !== 'tbp.'" class="result-throws">({{getResultThrowsForPlayer(game, 'A')}})&nbsp;&nbsp;&nbsp;({{getResultThrowsForPlayer(game, 'B')}}
                )
              </div>
            </a>
            <ng-template #unplayable>
              <div class="cell-content unplayable">-</div>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
    <div class="game-details-wrapper">
      <div class="game-details">
        <hr *ngIf="showGameDetails">
        <app-games [displayGames]="games"
                   [showDateInTypeField]="showDateInTypeField"
                   [filtered]="true"
                   [inputClasses]="'single small open'"
        ></app-games>
      </div>
    </div>

    <div class="opener-icon" (click)="toggleDetails()">&#8230;</div>
    <div class="liga-table-wrapper first-round-wrapper">
      <div class="title-small">Hinrunde</div>
      <table class="liga-table first-round small">
        <thead class="head">
        <th class="position">
          <span class="text">Platz</span>
        </th>
        <th class="team">
          <span class="text"></span>
        </th>
        <th class="name">
          <span class="text">Name</span>
        </th>
        <th class="games">
          <span class="text">Sp.</span>
        </th>
        <th class="wins">
          <span class="text">S</span>
        </th>
        <th class="draws">
          <span class="text">U</span>
        </th>
        <th class="defeats">
          <span class="text">N</span>
        </th>
        <th class="quote">
          <span class="text">Quote</span>
        </th>
        <th class="points">
          <span class="text">Pkt.</span>
        </th>
        </thead>
        <tbody class="players-list">
        <tr *ngFor="let player of orderByPositionFirstRound(tablePlayersFirstRound)" class="klopper">
          <td class="position">{{player.positionFirstRound}}</td>
          <td class="team">
            <img alt="vereinslogo_{{getTeam(player.name) | lowercase | replaceAll: ' ': '_'}}"
                 [src]='"assets/images/user/verein/logo_"+[getTeam(player.name) | lowercase | replaceAll: " ": "_"]+".png"'
                 onError="this.src='assets/images/user/verein/logo_default.png'"
                 class="team-logo"
            >
          </td>
          <td class="name">{{player.name}}</td>
          <td class="games">{{player.playedGamesFirstRound}}</td>
          <td class="wins">{{player.winsFirstRound}}</td>
          <td class="draws">{{player.drawsFirstRound}}</td>
          <td class="defeats">{{player.defeatsFirstRound}}</td>
          <td class="quote">{{player.quoteFirstRound}}</td>
          <td class="points">{{player.pointsFirstRound}}</td>
        </tr>
        </tbody>
      </table>
    </div>

    <div class="liga-table-wrapper second-round-wrapper">
      <div class="title-small">Rückrunde</div>
      <table class="liga-table second-round small">
        <thead class="head">
        <th class="position">
          <span class="text">Platz</span>
        </th>
        <th class="team">
          <span class="text"></span>
        </th>
        <th class="name">
          <span class="text">Name</span>
        </th>
        <th class="games">
          <span class="text">Sp.</span>
        </th>
        <th class="wins">
          <span class="text">S</span>
        </th>
        <th class="draws">
          <span class="text">U</span>
        </th>
        <th class="defeats">
          <span class="text">N</span>
        </th>
        <th class="quote">
          <span class="text">Quote</span>
        </th>
        <th class="points">
          <span class="text">Pkt.</span>
        </th>
        </thead>
        <tbody class="players-list">
        <tr *ngFor="let player of orderByPositionSecondRound(tablePlayersFirstRound)" class="klopper">
          <td class="position">{{player.positionSecondRound}}</td>
          <td class="team">
            <img alt="vereinslogo_{{getTeam(player.name) | lowercase | replaceAll: ' ': '_'}}"
                 [src]='"assets/images/user/verein/logo_"+[getTeam(player.name) | lowercase | replaceAll: " ": "_"]+".png"'
                 onError="this.src='assets/images/user/verein/logo_default.png'"
                 class="team-logo"
            >
          </td>
          <td class="name">{{player.name}}</td>
          <td class="games">{{player.playedGamesSecondRound}}</td>
          <td class="wins">{{player.winsSecondRound}}</td>
          <td class="draws">{{player.drawsSecondRound}}</td>
          <td class="defeats">{{player.defeatsSecondRound}}</td>
          <td class="quote">{{player.quoteSecondRound}}</td>
          <td class="points">{{player.pointsSecondRound}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
