:host * {
    box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.login-form {
  max-width: 400px;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  &__group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }

  &__label {
    margin-bottom: 10px;
  }

  &__input {
    border: none;
    border-bottom: 1px solid black;
    font-size: 1rem;
    height: 30px;
  }

  &__button {
    margin-top: 20px;
    background-color: white;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    padding: 10px;
    -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.75);
  }

  &__error {
    color: red;
    margin-top: 30px;
  }
}
