<div class="container">
  <form class="login-form" (ngSubmit)="onSubmit()" *ngIf="!loginService.isUserLoggedIn()">
    <div class="login-form__group">
      <label for="name" class="login-form__label">{{texts.name}}</label>
      <input type="text" id="name" name="name" [(ngModel)]="loginUser.name" class="login-form__input">
    </div>
    <div class="login-form__group">
      <label for="password" class="login-form__label">{{texts.password}}</label>
      <input type="password" id="password" name="password" [(ngModel)]="loginUser.password" class="login-form__input">
    </div>
    <div class="login-form__group">
      <button class="login-form__button">{{texts.login}}</button>
    </div>
    <div class="login-form__error" *ngIf="error">{{texts.error}}</div>
  </form>
  
  <div class="login-form" *ngIf="loginService.isUserLoggedIn()">
    <div class="login-form__group">
      {{texts.alreadyLoggedIn}}
    </div>
    <div class="login-form__group">
      <button class="login-form__button" (click)="loginService.logout()">{{texts.logout}}</button>
    </div>
  </div>
</div>
