ul {
  list-style: none;
  padding: 0;
}

.games-list.small {
  margin: 0px;
}

.game,
.players-list {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
}

.game {
  margin-bottom: 5px;
  width: 100%;
  background-color: #fff;
  height: 70px;
}

.game.open {
  height: 100px
}
.games-list.small {
  position: relative;
}
.games-list.single .game {
  margin: 0px;
}

.type,
.number {
  display: flex;
  align-items: center;
  justify-content: center;
}

.type {
  width: 20px;
  padding: 1px 5px;
  transform: rotate(-90deg);
  border: 1px solid #ccc;
  border-radius: 10px;
}
.games-list.single .type {
  width: 75px;
  transform: unset;
  border-radius: 3px;
}
.games-list.single.small .type {
  margin-top: -25px;
}

.type.test {
  background-color: #fff;
}

.type.liga {
  background-color: #a4c2f4;
}
.games-list.single .type.liga {
  color: #fff;
  background-color: #bbb;
  border: 0px;
}

.type.pokal {
  background-color: #ffe599;
}

.type.cup {
  background-color: #dd7e6b;
}

.number {
  transform: rotate(90deg);
  width: 32px;
}
.games-list.small .number {
  transform: unset;
  position: absolute;
  left: 3px;
}
.games-list.single.small .number {
  top: 40px;
}

.number a {
  text-decoration: none;
}
.games-list.small .number a {
  color: #fff;
  background-color: #bbb;
  border-radius: 3px;
  padding: 1px 5px;
}

.players {
  display: flex;
  flex-direction: column;
  width: calc(100% - 64px);
  margin-top: 10px;
  height: 60px;
  position: relative;
}
.games-list.small .players {
  width: calc(100% - 75px);
}

.open .players {
  height: 90px;
}
.games-list.small .players {
  height: 65px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.player {
  width: calc(50% - 4px);
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.game-summary,
.essential-data,
.throw-data-summary,
.throws-wrapper {
  display: flex;
  width: 100%;
}

.game-summary {
  flex-direction: column;
}

.essential-data {
  align-items: center;
  height: 30px;
}

.throw-data-summary {
  width: 100%;
  justify-content: flex-end;
  align-items: flex-start;
  margin-top: 2px;
  height: 13px;
}

.player:nth-child(even) .throw-data-summary {
  justify-content: flex-start;
}

.name {
  display: flex;
  justify-content: flex-end;
  font-size: 13px;
  width: calc(100% - 58px);
}

.winner .name {
  font-weight: bold;
  text-decoration: underline;
  text-decoration-color: #ff9933;
}

.player:nth-child(even) .name {
  display: flex;
  justify-content: flex-start;
  order: 3;
}

.team {
  width: 30px;
  height: 30px;
  margin: 0 5px;
}
.games-list.small .team {
  margin-right: 15px;
}
.games-list.small .player:nth-child(even) .team {
  margin-left: 15px;
}

.player:nth-child(even) .team {
  display: flex;
  justify-content: flex-start;
  order: 2;
}

.team-logo {
  height: 100%;
  width: 100%;
}

.rest {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  height: 20px;
  width: 20px;
  background-color: #333;
  color: #fff;
}

.vs:after {
  content: ':';
  width: 8px;
  margin-top: 5px;
  display: flex;
  height: 18px;
  padding-top: 2px;
  justify-content: center;
  position: absolute;
  top: 0;
  left: calc(50% - 4px);
  background-color: #333;
  color: #fff;
}

.throw-data-summary {
  font-size: 10px;
}

.number-of-throws {
  display: flex;
  align-items: center;
  margin: 0 5px;
}

.player:nth-child(even) .number-of-throws {
  order: 1;
}

.average {
  display: none;
}

.open .average {
  display: flex;
  align-items: center;
}

.player:nth-child(even) .average {
  order: 2;
}

.opener-icon {
  background-image: url('/assets/icons/baseline-chevron_left-24px.svg');
  background-size: cover;
  width: 15px;
  height: 15px;
  transform: rotate(-90deg);
  margin: 0 auto;
  margin-top: -2px;
  opacity: 0.5;
}
.games-list.small .opener-icon {
  background: 0;
}

.open .opener-icon {
  transform: rotate(90deg);
}

.throws-wrapper {
  display: none;
  align-items: flex-start;
  width: 100%;
}

.throws {
  margin: 0px 5px;
}

.throws,
.suddenDeathThrows {
  display: flex;
}

.throws:not(.suddenDeathThrows) {
  flex-wrap: wrap;
}

.open .throws-wrapper {
  display: flex;
}

.player:nth-child(odd) .throws-wrapper,
.player:nth-child(odd) .throws {
  justify-content: flex-end;
}

.throw {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  border-right: 0px;
  width: 13px;
  height: 13px;
  font-size: 9px;
  margin-top: 2px;
}

.throw:nth-child(5n) {
  border-right: 1px solid #ccc;
  margin-right: 2px;
}

.throw:last-child {
  border-right: 1px solid #ccc;
}

.suddenDeathThrow {
  color: #ff9933;
  border-color: #ff9933;
}

.suddenDeathThrow:last-child {
  border-right: 1px solid #ff9933;
}

.date-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  top: 0px;
  height: 16px;
  color: #ff9933;
}

.filter-list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.filter-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.reset {
  width: 75px;
  padding: 5px 5px;
  color: #000;
  border: none;
  background-color: #fff;
  border-radius: 4px;
  font-size: 10px;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.75);
}

.filter {
  color: #666;
}

.filter option:first-child {
  color: #bb5;
}






@media only screen and (min-width: 768px) {

  .type {
    width: 24px;
  }

  .players {
    width: calc(100% - 72px);
  }
  .games-list.small .players {
    width: calc(100% - 111px);
  }

  .number {
    width: 36px;
  }
  .games-list.small .number {
    left: 2px;
  }
}








@media only screen and (min-width: 992px) {

  .type {
    width: 28px;
  }

  .players {
    width: calc(100% - 80px);
  }
  .games-list.small .players {
    width: calc(100% - 115px);
  }

  .number {
    width: 40px;
  }
  .games-list.small .number {
    left: 0px;
  }

  .date-wrapper {
    height: 20px;
  }

  .game.open {
    height: 70px;
  }

  .game.open .players {
    height: 60px;
  }

  .game.open .player {
    flex-direction: row-reverse;
    align-items: center;
  }
  .game.open .player:nth-child(even) {
    flex-direction: row;
  }

  .game.open .game-summary {
    width: 30%;
  }

  .game.open .throws-wrapper {
    width: 70%;
  }

  .throw {
    height: 15px;
    width: 15px;
    font-size: 11px;
    margin-top: 0px;
  }

  .player {
    height: 50px;
  }

  .essential-data {
    height: 35px;
  }

  .name {
    font-size: 14px;
    width: calc(100% - 69px);
  }

  .team {
    width: 35px;
    height: 35px;
    margin: 0 7px;
  }

  .vs:after {
    margin-top: 8px;
  }

  .opener-icon {
    margin-top: -5px;
  }

  .games-list.small .game-summary {
    margin-bottom: 5px;
  }
}





@media only screen and (min-width: 1200px) {

  .type {
    width: 32px;
  }

  .players {
    width: calc(100% - 88px);
  }
  .games-list.small .players {
    width: calc(100% - 119px);
  }

  .player {
    height: 55px;
  }

  .number {
    width: 44px;
  }
  .games-list.small .number {
    left: -2px;
  }

  .game.open .game-summary {
    width: 180px;
  }

  .game.open .throws-wrapper {
    width: calc(100% - 180px);
  }

  .opener-icon {
    margin-top: -10px;
  }

  .throw {
    height: 17px;
    width: 17px;
    font-size: 12px;
    margin-top: 0px;
  }

  .essential-data {
    height: 40px;
  }

  .name {
    font-size: 14px;
    width: calc(100% - 78px);
  }

  .team {
    width: 40px;
    height: 40px;
    margin: 0 10px;
  }

  .vs:after {
    margin-top: 10px;
  }
}
