<div class="filter-list" *ngIf="!filtered && !preview">
  <div class="filter-wrapper">
    <button class="reset filter" (click)="resetFilters()">Reset Filter</button>
  </div>
  <div class="filter-wrapper">
    <select name="filter_name" id="filter_playerName" class="form-input filter"
            (change)="nameFilterChanged($event.target.value)">
      <option value="" class="first">Klopper*in</option>
      <option *ngFor="let user of users" [value]="user.name">{{user.name}}</option>
    </select>
  </div>
  <div class="filter-wrapper">
    <select name="filter_type" id="filter_type" class="form-input filter"
            (change)="typeFilterChanged($event.target.value)">
      <option value="">Typ</option>
      <option *ngFor="let type of types" [value]="type">{{type}}</option>
    </select>
  </div>
</div>
<ul class="games-list {{inputClasses}}">
  <li *ngFor="let game of displayGames">
    <div class="date-wrapper" *ngIf="!preview && !showDateInTypeField && showDate(game.date)">
      <div class="date">{{game.date}}</div>
    </div>
    <div class="game" (click)="toggleAdditionalData()">
      <div *ngIf="!showDateInTypeField; else date" class="type {{game.type | lowercase}}">{{game.type}}</div>
      <ng-template #date><div class="type liga">{{game.date}}</div></ng-template>
      <div class="players">
        <ul class="players-list">
          <li *ngFor="let player of game.players; let i = index"
              class="player {{i===0 ? 'vs' : ''}} {{player.isWinner === true ? 'winner' : ''}}">
            <div class="game-summary">
              <div class="essential-data">
                <div class="name"><span>{{player.name}}</span></div>
                <div class="team"><span>
                <img alt="vereinslogo_{{player.team.replace(' ', '_') | lowercase | replaceAll: ' ': '_'}}"
                     [src]='"assets/images/user/verein/logo_"+[player.team | lowercase | replaceAll: " ": "_"]+"_s.png"'
                     onError="this.src='assets/images/user/verein/logo_default.png'"
                     class="team-logo"
                >
              </span></div>
                <div class="rest"><span>{{startCount - player.rest}}</span></div>
              </div>
              <div class="throw-data-summary">
                <div class="average"><span>&#8960; {{player.average}}</span></div>
                <div class="number-of-throws"><span>({{player.numberOfThrows}})</span></div>
              </div>
            </div>
            <div class="throws-wrapper">
              <ul class="throws">
                <li *ngFor="let throw of player.throws" class="throw">{{throw}}</li>
              </ul>
              <ul class="suddenDeathThrows">
                <li *ngFor="let suddenDeathThrow of player.suddenDeathThrows"
                    class="throw suddenDeathThrow">{{suddenDeathThrow}}</li>
              </ul>
            </div>

          </li>

        </ul>
        <div class="opener-icon"></div>
      </div>
      <div class="number">
        <a target="_blank" href="https://console.firebase.google.com/project/balken-kloppen/database/firestore/data~2Fgame~2F{{game.key}}">#&nbsp;{{game.id}}</a>
      </div>
    </div>
  </li>
</ul>
