.game__controls {
  display: flex;
  align-items: center;
  padding: 15px;
  flex-direction: column;
}

.game__round-submit {
  width: 100%;
  margin-top: 20px;
  padding: 10px;
  color: $black;
  border: none;
  background-color: $white;
  border-radius: 4px;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.75);
  cursor: pointer;

  @media only screen and (min-width: 900px) {
    margin-top: 20px;
  }

  &:hover {
    filter: brightness(0.8);
  }

  &:disabled {
    background-color: #eee;
    color: #aaa;
  }

  @media only screen and (min-width: 900px) {
    width: auto;
  }

  //@media only screen and (min-width: 900px) {
  //  width: 50%;
  //}
  //
  //@media only screen and (min-width: 1200px) {
  //  width: 33.33%;
  //}
  //
  //@media only screen and (min-width: 1200px) {
  //  width: 33.33%;
  //}
}

.game__round-confirm {
  background-size: cover;
  width: 40px;
  height: 40px;
  background-image: url("/assets/icons/baseline-check-24px.svg");

  &.hidden {
    display: none;
  }
}

.game__round-edit {
  background-size: cover;
  width: 40px;
  height: 40px;
  background-image: url("/assets/icons/baseline-edit-24px.svg");

  &.hidden {
    display: none;
  }
}

.game__submit-confirm {
  display: flex;
  align-items: center;
  margin-top: 20px;
  &.hidden {
    display: none;
  }

  .icon {
    background-size: cover;
    width: 24px;
    height: 24px;
    background-color: green;
    mask-image: url("/assets/icons/baseline-check-24px.svg");
    margin-right: 5px;
  }
}
