.game__players {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;

  @media only screen and (min-width: 900px) {
    flex-direction: row;
  }

  .game__player-area {
    transition: background-color 0.4s;
    display: flex;
    align-items: center;

    &.active {
      .game__player-wrapper {
        background-color: #ADD8E6	;
      }
    }

    &.win {
      .game__player-wrapper {
        background-color: darkseagreen;
        border: 1px solid green;
      }
    }

    @media only screen and (min-width: 900px) {
      padding: 0 30px;
      width: 50%;
    }

    @media only screen and (min-width: 1200px) {
      padding: 0 50px;
    }

    &:first-child:after {
      @media only screen and (min-width: 900px) {
        content: ':';
        position: absolute;
        left: 49.5%;
        font-size: 3rem;
      }
    }

    .game__player-wrapper {
      display: flex;
      align-items: center;
      padding: 10px;
      transition: background-color 0.3s;
      border-radius: 3px;
    }

    .game__player-logo {
      width: 60px;
      flex-shrink: 0;
      cursor: pointer;
      margin-right: 10px;

      @media only screen and (min-width: 900px) {
        width: 100px;
      }

      .team-logo {
        width: 100%;

        &.invert {
          -webkit-filter: invert(1);
          filter: invert(1);
        }
      }
    }

    .game__player {
      padding: 10px;
      display: flex;

      .game__player-select {
        width: 70%;
        padding: 10px;
        background-color: #f1f1f1;
        border: none;
        color: #444;
        border-left: 5px solid $orange;
        font-size: 1.4rem;
        text-transform: uppercase;
        letter-spacing: 0.05em;
        cursor: pointer;
        border-radius: 3px;
      }

      .game__player-rest,
      .game__player-throw-count {
        width: 15%;
        font-size: 2rem;
        text-align: center;
        cursor: pointer;
      }

      .game__player-rest {
        background-color: $black;
        color: $white;
        margin-left: 5px;
        font-weight: bold;
        border: none;
        font-family: DS-DIGIB;
        border-radius: 3px;
      }

      .game__player-throw-count {
        border: none;
        background-color: transparent;
        font-family: DS-DIGII;
      }
    }
  }
}
