.game__rounds {
  padding: 5px;
  display: flex;
  justify-content: space-between;

  &.-hidden {
    display: none;
  }

  .game__round {
    display: flex;
    width: 50%;
    padding: 10px;
    transition: background-color 0.4s;

    &-sums {
      display: flex;
      flex-direction: column;
      width: 15%;
    }

    &:nth-child(odd) {
      padding-right: 10px;
    }

    &.hidden {
      display: none;
    }

    //&.active {
    //  background-color: #ddd;
    //
    //  .game__throw-input {
    //    background-color: $white;
    //  }
    //
    //  .game__throw-input-sum {
    //    background-color: #f5f5f5;
    //  }
    //}


  }

  .game__throw,
  .game__throw-sum {
    padding: 5px;
  }

  .game__throw-sum {
    .game__throw-input {
      color: $orange;
    }
  }

  .game__throws {
    display: flex;
    flex-flow: row wrap;
    width: 70%
  }

  .game__throw {
    width: 20%;
    display: flex;

    &-input {
      width: 100%;
      font-size: 2rem;
      text-align: center;
      background-color: #f5f5f5;
      border: 1px solid #444;
      font-family: DS-DIGI;
      padding: 3px 5px 5px;
      border-radius: 3px;

      &-sum {
        background-color: #eee;
        border: none;
      }
    }
  }
}

.game__sudden-death-headline {
  padding: 10px;
  text-transform: uppercase;
}
