.settings {
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: space-between;

  @media only screen and (min-width: 900px) {
    width: 25%;
    display: block;
  }

  @media only screen and (min-width: 1200px) {
    width: 33%;
  }

  &__row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

  &__label {
    margin-right: 10px;
    max-width: 50%;
  }

  .switch {
    margin-right: 10px;
  }
}
