.throw-count {
  position: fixed;
  z-index: 2;
  display: flex;
  flex-flow: row wrap;
  height: 30vh;
  width: 100%;
  bottom: -35vh;
  background-color: #EEE;
  padding: 10px;
  -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.75);
  transition: bottom 0.4s;

  @media only screen and (min-width: 900px) {
    height: 20vh;
    bottom: -25vh;
  }

  &.-small {
    height: 23vh;
  }

  &.active {
    bottom: 0;
    left: 0;
  }

  &__buttons {
    display: flex;
    width: 100%;
    flex-flow: row wrap;

    @media only screen and (min-width: 600px) {
      width: 66.66%;
    }

    @media only screen and (min-width: 900px) {
      width: 50%;
    }

    @media only screen and (min-width: 1200px) {
      width: 33.33%;
    }

    @media only screen and (min-width: 1200px) {
      width: 33.33%;
    }
  }

  &__button-wrapper {
    width: 50%;
    display: flex;
    padding: 10px;

    .throw-count__button {
      background-color: $white;
      border-radius: 4px;
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 2rem;
      -webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
      -moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
      box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
      transition: transform 0.2s;
      font-family: DS-DIGI;
      cursor: pointer;

      &.active {
        transform: scale(0.9);
      }

      &:hover {
        background-color: #bbb;
      }
    }

    &.-small {
      width: 20%;
    }
  }

  &__closer {
    display: flex;
    justify-content: center;
    position: absolute;
    top: -30px;
    left: calc(50% - 20px);
    background-color: #EEE;
    -webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);

    &-icon {
      background-size: cover;
      width: 30px;
      height: 30px;
      background-image: url("/assets/icons/baseline-expand_more-24px.svg");
    }
  }
}
