@import "colors";

:host * {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

:host {
  display: flex;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.game {
  margin-bottom: 20px;

  @media only screen and (min-width: 900px) {
    overflow-y: auto;
  }

  &__form {
    width: 100%;
    transition: width 0.4s;
    padding: 20px;
  }

  @import "player-area";
  @import "rounds";
  @import "controls";
}

.game-data__container {
  display: flex;
  align-items: center;
  font-size: 1rem;
  background-color: #ff9933;
  padding: 10px 15px;

  @media only screen and (min-width: 900px) {
    margin-top: 20px;
    margin-bottom: 30px;
  }
}

.game__event {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-bottom: 10px;

  &-input {
    background-color: #ff9933;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: block;
    width: 100%;
    border: none;
    color: #fff;
    font-size: 1rem;
  }
}

@import "throw-count";
@import "toggle";
@import "settings";
