<form (ngSubmit)="onSubmit()" class="game__form" *ngIf="loginService.isUserLoggedIn()">
  <div class="game">
    <div class="game__event">{{game.event}}</div>
    <div class="game__players">
      <div *ngFor="let player of game.players; let i = index"
           class="game__player-area"
           id="area{{i}}"
           [attr.data-area-id]="i">
        <div class="game__player-wrapper">
          <div class="game__player-logo" (click)="playPlayerSound($event.target, player)">
            <img alt="vereinslogo_{{player.team | lowercase | replaceAll: ' ': '_'}}"
                 [src]='"assets/images/user/verein/logo_"+[player.team | lowercase | replaceAll: " ": "_"]+"_l.png"'
                 onError="this.src='assets/images/user/verein/logo_default.png'"
                 class="team-logo"
            >
          </div>
          <div>
            <div class="game__player">
              <!--PLAYER NAME-->
              <input name="{{player.name}}"
                     id="player{{i}}"
                     class="game__player-select"
                     type="text"
                     [attr.data-player-name]="player.name"
                     readonly
                     value="{{player.name}}"
                     (click)="toggleKloppen($event, i)">

              <!--REST COUNT-->
              <input name="rest{{i}}"
                     id="rest{{i}}"
                     class="game__player-rest"
                     type="number"
                     readonly
                     [value]="getRest(player)">

              <!--THROW COUNT-->
              <input name="throws{{i}}"
                     class="game__player-throw-count"
                     id="throws{{i}}"
                     type="number"
                     readonly
                     [(ngModel)]="player.throws.length">
            </div>
            <div class="game__rounds" *ngIf="player.throws.length > 0">

              <!--THROWS-->
              <div class="game__throws">
                <div *ngFor="let throw of player.throws; let j = index; trackBy:trackByFn"
                     class="game__throw"
                     id="player{{i}}__throw{{j}}">
                  <input [readonly]="!editRounds"
                         type="text"
                         class="game__throw-input"
                         name="player{{i}}__throw{{j}}"
                         [(ngModel)]="player.throws[j]"
                  >
                </div>
              </div>

              <!--ROUND SUM-->
              <div class="game__round-sums" *ngIf="player.throws.length > 0">
                <div *ngFor="let j of [0, 1, 2, 3, 4, 5]">
                  <div class="game__throw-sum" *ngIf="player.throws.length > j * 5">
                    <input readonly type="text" class="game__throw-input" name="throw{{i}}__{{(j + 1) * 5}}" [value]="getRoundSum(player.throws, j * 5)">
                  </div>
                </div>
              </div>
            </div>

            <!--SUDDEN DEATH-->
            <div *ngIf="suddenDeath" class="game__sudden-death-headline">Sudden Death</div>
            <div *ngIf="suddenDeath" class="game__rounds">

              <!--SUDDEN DEATH THROWS-->
              <div class="game__throws">
                <div *ngFor="let suddenDeathThrow of player.suddenDeathThrows; let j = index; trackBy:trackByFn"
                     class="game__throw"
                     id="player{{i}}__sudden-death-throw{{j}}">
                  <input [readonly]="!editRounds"
                         type="number"
                         class="game__throw-input"
                         name="player{{i}}__sudden-death-throw{{j}}"
                         [(ngModel)]="player.suddenDeathThrows[j]"
                  >
                </div>
              </div>

              <!--SUDDEN DEATH SUM-->
              <div class="game__round-sums" *ngIf="player.suddenDeathThrows.length > 0">
                <div>
                  <div class="game__throw-sum" *ngIf="player.suddenDeathThrows.length >0">
                    <input readonly type="text" class="game__throw-input" name="sudden-death-sum" [value]="getRoundSum(player.suddenDeathThrows, 0)">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="game__controls">
      <div class="game__round-edit" [ngClass]="{'hidden': editRounds}" (click)="editRounds = true"></div>
      <div class="game__round-confirm" [ngClass]="{'hidden': !editRounds}" (click)="editRounds = false"></div>
      <button class="game__round-submit" type="submit" [disabled]="!game.winner && !game.draw">Spiel in die Datenbank kloppen</button>
      <div class="game__round-submit" *ngIf="isTestMatch()" (click)="playReturnMatch()">Rückspiel</div>
      <a class="game__round-submit" *ngIf="showLigaButton" [routerLink]="['/liga']">Zur Liga-Übersicht</a>
      <div class="game__submit-confirm" [ngClass]="{'hidden': !confirmation}">
        <div class="icon"></div>
        Spiel mit der ID&nbsp;
        <a target="_blank" [href]="DATABASE_GAME_HREF + confirmationId" class="game__confirm-id">{{confirmationId}}</a>
        &nbsp;wurde in die Datenbank gekloppt!
      </div>
    </div>
  </div>

  <div [ngClass]="{'throw-count': true, '-small': isLegacy(), 'active': enableKloppen}">
    <div class="throw-count__closer" (click)="enableKloppen = false">
      <div class="throw-count__closer-icon"></div>
    </div>
    <div class="settings">
      <div class="settings__row">
        <label class="switch">
          <input type="checkbox" checked (change)="gameSoundService.setSoundSettings($event.target)">
          <span class="slider round"></span>
        </label>
        <div class="settings__label">Sounds</div>
      </div>
      <div class="settings__row">
        <label class="switch">
          <input type="checkbox" (change)="soundPlayerService.toggleTheme($event.target.checked)">
          <span class="slider round"></span>
        </label>
        <div class="settings__label">Theme</div>
        <input type="range" (change)="soundPlayerService.setThemeVolume($event.target.value / 100)" value="10">
      </div>
    </div>
    <div class="throw-count__buttons">
      <div *ngFor="let button of buttons, let i = index" [ngClass]="{'throw-count__button-wrapper': true, '-small': isLegacy()}">
        <div class="throw-count__button" (click)="enterThrow($event, i)">{{i}}</div>
      </div>
    </div>
  </div>
</form>

<app-login-error *ngIf="!loginService.isUserLoggedIn()"></app-login-error>
