<ul class="cups-list">
  <li *ngFor="let cup of cups | keyvalue" class="cups">
    <div class="type {{cup.key}}">{{cup.key}}</div>
    <ul>
      <li *ngFor="let game of cup.value">
        <div class="players">
          <ul class="players-list">
            <li *ngFor="let player of game.players; let i = index"
                class="player {{i===0 ? 'vs' : ''}} {{player.isWinner === true ? 'winner' : ''}}">
              <div class="game-summary">
                <div class="essential-data">
                  <div class="name"><span>{{player.name}}</span></div>
                  <div class="team"><span>
              </span></div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </li>
</ul>
