:host {
  position: relative;
}

table,
th {
	border-collapse: collapse;
}
	
.klopper-table, 
thead, 
tbody {
	width: 100%;
}

.klopper-table > * {
	width: 100%;
}

th {
	height: 20px;
	text-align: left;
	color: #fff;
	background-color: #ff9933;
}

tr:nth-child(even) {
	background-color: #f5f5f5;
}
tr:hover {
	background-color: #e4e4e4;
}

td {
	text-align: left;
	vertical-align: middle;
	padding-top: 2px;
	padding-bottom: 2px;
}

th,
td {
	padding-left: 5px;
}

.user,
.team {
	width: calc(50% - 30px);
}

.name {
  width: 100%;
  display: inline-flex;
  text-decoration: none;
}

.team-wrapper {
  height: 100%;
  display: flex;
  align-items: center;
}
.team-logo {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.hand {
	width: 60px;
	padding-right: 5px;
}

.text,
.arrow {
	float: left;
}


.left {
	text-align: left;
}
.right {
	text-align: right;
}
.hand-icon {
	height: 20px;
	width: 20px;
}
.left .hand-icon {
	transform: scaleX(-1);
}

@media only screen and (max-width: 600px) {
	.delete-all-kloppers-button {
		margin-top: 10px;
	  	width: 100%;
	}
}
@media only screen and (min-width: 600px) {
	.delete-all-kloppers-button {
		margin: 0 auto;
		margin-top: 10px;
	  	width: 300px;
	}
}
@media only screen and (min-width: 768px) {
	.delete-all-kloppers-button {
		margin: 0 auto;
		margin-top: 10px;
	  	width: 150px;
	}
}

.arrow {
	width: 9px;
	height: 9px;
	margin-left: 5px;
	visibility: hidden; 
}
.arrow.up,
.arrow.down {
	visibility: visible;
}
.arrow.up {
	transform: rotate(180deg);
}
.arrow.down {
	margin-top: 2px;
}
@media only screen and (max-width: 600px) {
	.arrow {margin-top: 0;}
	.arrow.down {margin-top: 2px;}
}
@media only screen and (min-width: 600px) {
	.arrow {margin-top: 0;}
	.arrow.down {margin-top: 2px;}
}
@media only screen and (min-width: 768px) {
	.arrow {margin-top: 1px;}
	.arrow.down {margin-top: 3px;}
}
@media only screen and (min-width: 922px) {
	.arrow {margin-top: 1.5px;}
	.arrow.down {margin-top: 3.5px;}
}
