<div class="user-list">
  <h2>Klopper*innen-Community</h2>
  <table class="klopper-table">
    <thead>
      <th class="user"
        (click)="sort('name')">
        <span class="text">Name</span>
        <img class="arrow"
            [ngClass]="{'up': nameSorted === -1,
                  'down': nameSorted === 1}"
            src="assets/icons/down-arrow-white.svg">
      </th>
      <th class="team"
        (click)="sort('team')">
        <span class="text">Team</span>
        <img class="arrow"
            [ngClass]="{'up': teamSorted === -1,
                  'down': teamSorted === 1}"
            src="assets/icons/down-arrow-white.svg">
      </th>
      <th class="hand"
        (click)="sort('hand')">
        <span class="text">Hand</span>
        <img class="arrow"
            [ngClass]="{'up': handSorted === -1,
                  'down': handSorted === 1}"
            src="assets/icons/down-arrow-white.svg">
      </th>
    </thead>
    <tbody>
      <tr *ngFor="let user of users" class="klopper">
        <td class="user">
          <a target="_blank" href="https://console.firebase.google.com/project/balken-kloppen/database/firestore/data~2Fuser~2F{{user.key}}" class="name">{{user.key}}</a>
        </td>
        <td class="team">
          <span class="team-wrapper">
            <img alt="vereinslogo_{{user.team | lowercase | replaceAll: ' ': '_'}}"
                 [src]='"assets/images/user/verein/logo_"+[user.team | lowercase | replaceAll: " ": "_"]+"_s.png"'
                 onError="this.src='assets/images/user/verein/logo_default.png'"
                 class="team-logo"
                 (click)="showLargeLogo($event, user)"
            >
            <span class="team-name">{{user.team}}</span>
          </span>
        </td>
        <td class="hand"
          [ngClass]="{'right': user.hand === 'right',
                  'left': user.hand === 'left'}">
          <img alt="hand" class="hand-icon" src="assets/icons/hand.svg">
        </td>
      </tr>
    </tbody>
  </table>
</div>
