<div class="duels">
  <div class="duels__type">
    <div *ngFor="let currentType of types" class="duels__type-button-wrapper">
      <input
        type="button"
        [value]="currentType"
        [ngClass]="{'active': type === currentType}"
        (click)="kloppOutDuels($event.target.value)"
        class="duels__type-button"
      >
    </div>
  </div>
  <div class="duels__members">
    <div *ngFor="let comparable of comparables, let i = index" class="duels__member" [ngClass]="{'order-1': i === 0, 'order-3': i === 1}">
      <div class="duels__row duels__row--logo">
        <img
          [src]="logos[i]"
          (click)="toggleOptions(i)"
          onError="this.src='assets/images/user/verein/logo_default.png'"
          class="duels__logo">
      </div>
      <div class="duels__row duels__select">
        <div class="duels__input-wrapper">
          <input
            readonly
            name="player{{i}}"
            id="player{{i}}"
            (focus)="showOptions(i)"
            (blur)="hideOptions(i)"
            [(ngModel)]="players[i]"
            class="duels__input duels__select"
            placeholder="Spielerin wählen"
          >
          <div class="duels__options" [ngClass]="{'hidden': !showKloppers[i]}">
            <div *ngFor="let user of users" class="duels__option" (click)="chooseKlopper(i, user)">
              <img
                [src]="getUserTeamLogo(user, 's')"
                onError="this.src='assets/images/user/verein/logo_default.png'"
                class="duels__option-logo">
              {{user.name}}
            </div>
          </div>
        </div>
      </div>
      <div class="duels__row">
        <input readonly type="text" name="duelGames{{i}}" [(ngModel)]="duelGames.length" class="duels__input">
      </div>
      <div class="duels__row">
        <input readonly type="text" name="wins{{i}}" [(ngModel)]="wins[i]" class="duels__input" [ngClass]="{'winner': getHighlighting(i, wins), 'loser': !getHighlighting(i, wins)}">
      </div>
      <div class="duels__row">
        <input readonly type="text" name="draws{{i}}" [(ngModel)]="draws" class="duels__input">
      </div>
      <div class="duels__row">
        <input readonly type="text" name="defeats{{i}}" [(ngModel)]="defeats[i]" class="duels__input">
      </div>
      <div class="duels__row">
        <input readonly type="text" name="points{{i}}" [(ngModel)]="points[i]" class="duels__input" [ngClass]="{'winner': getHighlighting(i, wins), 'loser': !getHighlighting(i, wins)}">
      </div>
      <div class="duels__row">
        <input readonly type="text" name="throws{{i}}" [(ngModel)]="throws[i]" class="duels__input">
      </div>
      <div class="duels__row">
        <input readonly type="text" name="points{{i}}" [value]="getWurfquote(points[i], throws[i])" class="duels__input" [ngClass]="{'winner': getHighlighting(i, wins), 'loser': !getHighlighting(i, wins)}">
      </div>
    </div>

    <div class="duels__member order-2">
      <div class="duels__row duels__row--logo"><span class="duels__label">Team</span></div>
      <div class="duels__row"><span class="duels__label">Spieler</span></div>
      <div class="duels__row"><span class="duels__label">Duelle</span></div>
      <div class="duels__row"><span class="duels__label">Siege</span></div>
      <div class="duels__row"><span class="duels__label">Unentschieden</span></div>
      <div class="duels__row"><span class="duels__label">Niederlagen</span></div>
      <div class="duels__row"><span class="duels__label">Punkte</span></div>
      <div class="duels__row"><span class="duels__label">Würfe</span></div>
      <div class="duels__row"><span class="duels__label">Wurfquote</span></div>
    </div>
  </div>

  <div *ngIf="duelGames.length > 0" class="duels__games-headline">Spiele</div>
  <app-games [games]="duelGames" [filtered]="true"></app-games>
</div>
