.duels {
  max-width: 1200px;
  margin: 0 auto;
  padding: 30px;
  font-size: 1rem;

  &__type {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    flex-wrap: wrap;

    &-button {
      /* Buttons styles start */
      display: inline-block;
      border: none;
      padding: 1rem 2rem;
      margin: 0;
      text-decoration: none;
      background: #aaa;
      color: #fff;
      font-family: 'Roboto', sans-serif;
      font-size: 1rem;
      line-height: 1;
      cursor: pointer;
      text-align: center;
      transition: background 250ms ease-in-out, transform 150ms ease;
      -webkit-appearance: none;
      -moz-appearance: none;

      &:hover,
      &:focus {
        background: #777;
      }

      &.active {
        background-color: #ff9933;
      }

      &-wrapper {
        padding: 10px;
      }
    }
  }

  &__members {
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;
  }

  &__member {
    display: flex;
    flex-direction: column;
    align-items: center;

    &.order-1 {
      order: 1;
    }

    &.order-2 {
      order: 2;
    }

    &.order-3 {
      order: 3;
    }
  }

  &__row {
    height: 36px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    &--logo {
      height: 120px;
    }
  }

  &__input {
    height: 30px;
    text-align: center;
    font-size: 1rem;
    width: 70px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    transition: border-color 0.4s;

    @media only screen and (min-width: 600px) {
      width: 100px;
    }

    @media only screen and (min-width: 900px) {
      width: auto;
    }

    &-wrapper {
      position: relative;
    }

    &.winner {
      border: 3px solid green;
    }
  }

  &__select {
    cursor: pointer;
  }

  &__options {
    position: absolute;
    background-color: white;
    max-height: 300px;
    overflow-y: scroll;
    width: 100%;

    @media only screen and (max-width: 600px) {
      width: 250%;
    }

    &.hidden {
      display: none;
    }
  }

  &__option {
    padding: 10px 20px;
    display: flex;
    align-items: center;

    &-logo {
      height: 30px;
      margin-right: 10px;
    }
  }

  &__logo {
    width: 100px;
    height: 100px;
    cursor: pointer;
  }

  &__label {
    font-weight: 800;
  }

  &__games-headline {
    text-align: center;
    font-weight: 800;
    margin-bottom: 30px;
  }
}
