.selected {
  background-color: #3399ff;
  text-decoration: underline;
}

.kloppen {
  max-width: 1200px;
  margin: 0 auto;
}

.link-text {
  padding: 0px;
}

.kloppen-date {
  display: flex;
  margin-top: 20px;
  margin-bottom: 30px;
  font-size: 1rem;
  padding: 5px 15px;
  width: 50%;
  align-items: center;
}

.kloppen-date-label {
  margin-right: 5px;
}

.kloppen-date-input {
  padding: 10px;
  display: block;
  width: 100%;
  border-width: 1px;
}

.kloppen-disciplines {
  justify-content: space-evenly;
  align-items: center;
  background-color: transparent;
}

.kloppen-disciplines-item {
  background-color: #ddd;
  display: flex;
  text-decoration: none;
  justify-content: center;
  align-items: center;
}
.kloppen-disciplines-item-link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.kloppen-types {
  justify-content: space-evenly;
  align-items: center;
  background-color: transparent;
}

.kloppen-types-item {
  background-color: #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.kloppen-types-item-link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.kloppen-players {
  justify-content: space-evenly;
  align-items: center;
  background-color: transparent;
}

.kloppen-players-item {
  margin: 3px 5px;
  background-color: #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.kloppen-players-item-link {
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 600px) {
  .kloppen-disciplines-item, .kloppen-types-item, .kloppen-players-item {font-size: 11px;}
  .kloppen-disciplines {margin-bottom: 8px;}
  .kloppen-disciplines-item {width: 120px; height: 22px;}
  .kloppen-disciplines-item-link {font-size: 10px;}
  .kloppen-types {margin-bottom: 8px;}
  .kloppen-types-item {width: 120px; height: 22px;}
  .kloppen-types-item-link {font-size: 10px;}
  .kloppen-players {margin-bottom: 8px;}
  .kloppen-players-item {width: 120px; height: 28px;}
  .team {display: none;}
}

@media only screen and (min-width: 600px) {
  .kloppen-disciplines-item, .kloppen-types-item, .kloppen-players-item {font-size: 11px;}
  .kloppen-disciplines {margin-bottom: 8px;}
  .kloppen-disciplines-item {width: 120px; height: 22px;}
  .kloppen-disciplines-item-link {font-size: 10px;}
  .kloppen-types {margin-bottom: 8px;}
  .kloppen-types-item {width: 120px; height: 28px;}
  .kloppen-types-item-link {font-size: 10px;}
  .kloppen-players {margin-bottom: 8px;}
  .kloppen-players-item {width: 120px; height: 28px;}
}

@media only screen and (min-width: 768px) {
  .kloppen-disciplines-item, .kloppen-types-item, .kloppen-players-item {font-size: 12px;}
  .kloppen-disciplines {margin-bottom: 9px;}
  .kloppen-disciplines-item {width: 130px; height: 28px;}
  .kloppen-disciplines-item-link {font-size: 11px;}
  .kloppen-types {margin-bottom: 9px;}
  .kloppen-types-item {width: 130px; height: 28px;}
  .kloppen-types-item-link {font-size: 11px;}
  .kloppen-players {margin-bottom: 9px;}
  .kloppen-players-item {width: 130px; height: 28px;}
  .team {display: block;}
}

@media only screen and (min-width: 992px) {
  .kloppen-disciplines-item, .kloppen-types-item, .kloppen-players-item {font-size: 13px;}
  .kloppen-disciplines {margin-bottom: 10px;}
  .kloppen-disciplines-item {width: 140px; height: 35px;}
  .kloppen-disciplines-item-link {font-size: 12px;}
  .kloppen-types {margin-bottom: 10px;}
  .kloppen-types-item {width: 140px; height: 35px;}
  .kloppen-types-item-link {font-size: 12px;}
  .kloppen-players {margin-bottom: 10px;}
  .kloppen-players-item {width: 140px; height: 35px;}
}

@media only screen and (min-width: 1200px) {
  .kloppen-disciplines-item, .kloppen-types-item, .kloppen-players-item {font-size: 14px;}
  .kloppen-disciplines {margin-bottom: 10px;}
  .kloppen-disciplines-item {width: 155px; height: 35px;}
  .kloppen-disciplines-item-link {font-size: 13px;}
  .kloppen-types {margin-bottom: 10px;}
  .kloppen-types-item {width: 155px; height: 35px;}
  .kloppen-types-item-link {font-size: 13px;}
  .kloppen-players {margin-bottom: 10px;}
  .kloppen-players-item {width: 155px; height: 35px;}
}

.kloppen-types-item {
  display: flex;
  flex-wrap: wrap;
}

.kloppen-types-item-link {
  display: flex;
}

.event-wrapper {
  width: 50%;
  display: flex;
  align-items: center;
  margin-top: 5px;
}

.event-wrapper label {
  width: 15%;
  margin-right: 5px;
}

.event-wrapper input {
  width: calc( 85% - 5px);
}


.name,
.team {
  width: 100%;
}
.team {
  font-size: 10px;
}

.kloppen-submit {
    margin-top: 40px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;

    &-link {
        background-color: #ff9933;
        color: white;
        font-size: 1rem;
        font-weight: 500;
        padding: 10px 20px;
    }
}
