<div class="kloppen" *ngIf="loginService.isUserLoggedIn()">
  <h2>Kloppen</h2>

  <div class="kloppen-date">
    <div class="kloppen-date-label">Datum</div>
    <input class="kloppen-date-input" type="date" name="game__date" value="{{selectedDate}}" [(ngModel)]="selectedDate">
  </div>

  <p>Wähle eine Disziplin!</p>
  <ul class="list kloppen-disciplines sub-navi">
    <li *ngFor="let discipline of disciplines"
        [class.selected]="discipline === getDiscipline()"
        (click)="onDiscipline(discipline)"
        class="item kloppen-disciplines-item">
      <div class="link-text kloppen-disciplines-item-link">{{discipline}}</div>
    </li>
  </ul>

  <div *ngIf="showLegacy()">
    <label for="legacy">Legacy Game</label>
    <input id="legacy" type="checkbox" [(ngModel)]="isLegacy">
  </div>

  <div *ngIf="showPlayers()">
    <p>Wähle die Spieler!</p>
    <ul class="list kloppen-players sub-navi">
      <li *ngFor="let player of players"
          (click)="onSelectedUser(player)"
          [class.selected]="player === isSelected(player)"
          class="item kloppen-players-item">
        <div class="link-text kloppen-players-item-link">
          <div class="name">{{player.name}}</div>
          <div class="team">({{player.team}})</div></div>
      </li>
    </ul>
  </div>

  <div class="kloppen-submit" *ngIf="showKloppenButton()">
    <a class="kloppen-submit-link" [routerLink]="['/addGame']">Kloppen!</a>
  </div>
</div>

<app-login-error *ngIf="!loginService.isUserLoggedIn()"></app-login-error>
