<p>
  balkloppistan works!
</p>

<!--<div *ngFor="let balkloppistan of balkloppistans">-->
  <!--{{balkloppistan.name}}-->
  <!--<div *ngFor="let player of balkloppistan.players">-->
    <!--{{player.name}} - {{player.userKey}}-->
  <!--</div>-->
<!--</div>-->
