<app-navigation></app-navigation>
<!--<div class="marquee">-->
<!--  <span *ngFor="let meldung of tickerMeldungen, let i = index" class="meldung"-->
<!--        [ngStyle]="{'animation-duration': getDuration(tickerMeldungen)}">-->
<!--    <a [routerLink]="[meldung.href]" fragment="{{meldung.id}}" class="meldung__inner">-->
<!--      {{meldung.content}}-->
<!--    </a>-->
<!--  </span>-->
<!--</div>-->
<!--<app-news-ticker></app-news-ticker>-->
<div class="content-anchor">
  <router-outlet></router-outlet>
</div>
<app-sound-board></app-sound-board>
<app-action-bar *ngIf="!disableActionBar"></app-action-bar>
