.content-anchor {
  position: relative;
}

router-outlet {
  padding: 0;
}

:host {
  padding-bottom: 30px;
}

.marquee {
  width: 100%;
  white-space: nowrap;
  position: fixed;
  left: 0;
  bottom: 0;
  background-color: #777;
  color: #fff;
  overflow-x: hidden;
  height: 30px;
  z-index: 5;
  display: flex;
  align-items: center;
}

.marquee a,
.marquee a:hover,
.marquee a:visited  {
  color: #fff;
  text-decoration: none;
}

.meldung {
  display: inline-block;
  font-size: 14px;
  font-family: -webkit-pictograph, sans-serif;
  position: relative;
  left: 100%;
  animation: marquee 40s linear infinite;

  &__inner {
    font-family: 'Roboto', sans-serif;
  }
}

.meldung:nth-child(1) {
  animation-delay: 0s;
}
.meldung:nth-child(2) {
  animation-delay: 0.8s;
}
.meldung:nth-child(3) {
  animation-delay: 1.6s;
}
.meldung:nth-child(4) {
  animation-delay: 2.4s;
}
.meldung:nth-child(5) {
  animation-delay: 3.2s;
}
.meldung:nth-child(6) {
  animation-delay: 4.0s;
}

@keyframes marquee {
  0%   { left: 100%; }
  100% { left: -100%; }
}
