@import "../article/article";

.articles {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;

  &__toggles {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    margin-bottom: 20px;
  }

  &__toggle {
    padding: 10px;
    cursor: pointer;
    position: relative;
    border-bottom: 5px solid transparent;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.05em;

    &-input {
      display: none;
    }

    .articles__toggle-input:checked + & {
      border-bottom: 5px solid #ff9933;
    }
  }

  &__search {
    width: 100%;
    padding: 30px;

    &-toggle {
    }

    &-input {
      width: 100%;
      border: none;
      outline: none;
      border-bottom: 1px solid black;
      height: 50px;
      font-size: 2rem;
      margin-top: 20px;
    }
  }
}

.addd-wrapper {
  margin-top: 10px;
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
}

.addd-wrapper.-right {
  bottom: 41px;
  position: absolute;
}

@media only screen and (min-width: 1200px) {
  .addd-wrapper {
    margin: 0px;
    width: calc((100% - 1200px) / 2);
    height: unset;
    position: absolute;
    top: 0px;
  }
  .addd-wrapper.-left {
    left: 0px;
  }
  .addd-wrapper.-right {
    right: 0px;
    bottom: 0px;
  }
  .addd-wrapper.-full {
    height: 100%;
  }
}

.article__comments_summary {
  display: flex;
  align-items: center;
  height: 13px;
}

.article__average-comment-rating {
  display: flex;

  & .article__star {
    width: 14px;
    height: 14px;
  }
}

.article__number-of-comments {
  margin-left: 5px;
}

@media only screen and (min-width: 600px) {
  .article__number-of-comments {
    font-size: 13px;
  }
}

.new-comments .article__star {
  background-image: url("/assets/icons/star-blue_border-24px.png");
}

.new-comments .article__star--filled {
  background-image: url("/assets/icons/star-blue-24px.png");
}

.new-comments .article__number-of-comments {
  color: #4682b4;
}
