<div class="addd-wrapper -left -full">
  <app-addd></app-addd>
</div>
<div class="addd-wrapper -right -full">
  <app-addd></app-addd>
</div>

<div class="articles__toggles">
  <input
    type="radio"
    id="articles"
    value="articles"
    name="article-toggle"
    checked="true"
    class="articles__toggle-input"
    (change)="toggleContent($event.target.value)">
  <label for="articles" class="articles__toggle" [ngClass]="{'new-article-type': anyNonInterviewUnseen}">Artikel</label>
  <input
    type="radio"
    id="interviews"
    value="interviews"
    name="article-toggle"
    class="articles__toggle-input"
    (change)="toggleContent($event.target.value)">
  <label for="interviews" class="articles__toggle"
         [ngClass]="{'new-article-type': anyInterviewUnseen}">Interviews</label>
</div>

<div *ngIf="loginService.isUserLoggedIn() && !hideAdder" class="article article__add">
  <div [routerLink]="['/create-article']" class="article__add-button" [ngClass]="{'close': showArticleInput}"></div>
</div>

<div class="articles">
  <div class="articles__search" *ngIf="!disableSearch">
    <button class="articles__search-toggle" (click)="showSearch = !showSearch">{{staticTexts.searchToggle[showSearch]}}</button>
    <input type="search" (input)="filterArticles($event.target.value)" class="articles__search-input" *ngIf="showSearch">
  </div>
  <div *ngFor="let article of displayArticles | slice:0:limit"
       id="{{article.id}}"
       class="article"
       [ngClass]="{'article--large': article.interview, 'new-article': isUnseen(article)}"
       [@fadeInOut]
       (@fadeInOut.done)="animationDone($event)"
  >
    <a [routerLink]="['/article', article.id]" class="article__link">
      <div class="article__subline">
        <span>{{article.subline}}</span>
      </div>
      <div class="article__headline">{{article.headline}}</div>
      <div class="article__image-wrapper">
        <img [defaultImage]="defaultImage" [lazyLoad]="article.image" alt="" class="article__image">
      </div>
    </a>
    <div class="article__below-image">
      <div *ngIf="article.imageCredit"
           class="article__image-credit">{{staticTexts.photoCopyright}}&nbsp;{{article.imageCredit}}</div>
      <div class="article__date">{{article.date}}</div>
    </div>
    <div class="article__comments_summary" [ngClass]="{'new-comments': anyCommentsUnseen(article.comments)}">
      <div *ngIf="article.comments && article.comments.length > 0"
           class="article__average-comment-rating">
        <div *ngFor="let star of [1,2,3,4,5]; let i = index"
             class="article__star"
             [ngClass]="{'article__star--filled': i + 1 <= getAverageRating(article).length}">
        </div>
      </div>
      <div class="article__number-of-comments" *ngIf="article.comments">{{article.comments.length}}</div>
    </div>
    <div class="article__paragraph">
      <div *ngIf="!article.interview; else interview" class="article__paragraph-wrapper">
        <span *ngIf="article.plus" class="article__plus">{{staticTexts.plus}}&nbsp;</span>
        <span *ngIf="article.paragraph">{{article.paragraph}}</span>
        <span *ngIf="article.paragraphs" [innerHTML]="article.paragraphs[0].text"></span>
      </div>&nbsp;
      <ng-template #interview>
        <div class="interview-preface">{{article.interviewPreface}}</div>
        <div class="interview">
          <p *ngFor="let part of getParts(article)" class="interview-part" [innerHTML]="part"></p>&nbsp;
        </div>
      </ng-template>
      <a *ngIf="!article.interview" [routerLink]="['/article', article.id]"
         class="article__more">...&nbsp;{{staticTexts.readMore}}</a>
    </div>
    <div class="article__author" *ngIf="article.author">
      {{staticTexts.author}}:&nbsp;{{article.author}}
    </div>
  </div>
</div>
