<div class="create-user__form">
  <h2>Klopper*in anlegen</h2>
  <p>Hier können neue Klopper*innen angelegt werden. Viel Spaß!</p>
  <div [hidden]="submitted">
    <form (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-input" id="name" required [(ngModel)]="user.name" name="name">
      </div>

      <div class="form-group">
        <label for="team">Team</label>
        <input type="text" class="form-input" id="team" required [(ngModel)]="user.team" name="team">
      </div>

      <div class="form-group">
        <label for="team-short">Team-Kürzel</label>
        <input type="text" class="form-input" id="team-short" required [(ngModel)]="user.teamShort" name="team-short">
      </div>

      <div class="form-group">
        <label for="hand">Hand</label>
        <select name="hand" id="hand" class="form-input" required [(ngModel)]="user.hand">
          <option value="right">rechts</option>
          <option value="left">links</option>
        </select>
      </div>

      <button type="submit" class="form-btn">Klopper*in reinkloppen</button>
    </form>
  </div>

  <div [hidden]="!submitted">
    <h4>Nutzer erfolgreich reingekloppt!</h4>
    <button class="form-btn" (click)="newUser()">Noch mehr Klopper reinzimmern</button>
  </div>
</div>
