.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
}

.form-input {
  border: none;
  border-bottom: 1px solid #666;
  padding: 5px 0;
  font-size: 1rem;
}

.form-btn {
  padding: 5px;
  border-radius: 2px;
  width: 100%;
  display: block;
}
@media only screen and (min-width: 600px) {
  .form-btn {
    margin: 0 auto;
    width: 300px;
  }
}
@media only screen and (min-width: 768px) {
  .form-btn {
    margin: 0 auto;
    width: 150px;
  }
}
