<div class="action-bar__wrapper" [ngClass]="{'open': open}" *ngIf="articles && articles.length > 0">
  <div class="action-bar__content-wrapper">
    <div class="action-bar__content" [ngClass]="{'hidden': !open}">
      <div class="action-bar__content-headline">{{texts['CONTENT_HEADLINE']}}</div>
      <div class="action-bar__item" *ngFor="let article of articles">
        <a class="action-bar__image-wrapper" [routerLink]="['/article', article.id]">
          <img class="action-bar__image" [src]="article.image">
        </a>
        <div class="action-bar__item-content">
          <div class="action-bar__item-column">
            <a class="action-bar__item-subline" [routerLink]="['/article', article.id]">
              <span>{{article.subline}}</span>
            </a>
            <a class="action-bar__item-text" [routerLink]="['/article', article.id]">{{article.headline}}</a>
          </div>
          <div class="action-bar__item-column action-bar__item-column--right">
            <div class="action-bar__item-remove" (click)="articleService.removeArticleIdFromCookie(article.id)"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="action-bar">
      <div class="action-bar__preview-item-container">
        <a class="action-bar__preview-item" *ngFor="let article of articles" [routerLink]="['/article', article.id]">
          <img [src]="article.image" alt="" class="action-bar__preview-image">
        </a>
      </div>
      <div class="action-bar__toggle" (click)="toggle()">
        <div class="action-bar__headline">{{texts['HEADLINE']}}</div>
        <div class="action-bar__icon"></div>
      </div>
    </div>
  </div>
</div>
