.action-bar {
  display: flex;
  align-items: center;
  position: fixed;
  bottom: 0px;
  background-color: #FFFFFF;
  border-width: 0.0625rem;
  border-color: #AAAAAA;
  border-left-style: solid;
  border-top-style: solid;
  border-right-style: solid;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  padding: 0.3125rem 0.9375rem 0.3125rem 0.9375rem;
  overflow: hidden;
  width: 100%;
  justify-content: space-between;

  @media only screen and (min-width: 600px) {
    width: auto;
    right: 5rem;
  }

  &__toggle {
    cursor: pointer;
    display: flex;
    align-items: center;
  }

  &__icon {
    background-size: cover;
    width: 30px;
    height: 30px;
    background-image: url("/assets/icons/keyboard_arrow_down-24px.svg");
    transform: rotate(180deg);
  }

  &__headline {
    font-size: 1.2em;
  }

  &__preview-item-container {
    display: flex;
    max-width: 120px;
    overflow: hidden;

    @media only screen and (min-width: 340px) {
      max-width: 180px;
    }

    @media only screen and (min-width: 420px) {
      max-width: 240px;
    }

    @media only screen and (min-width: 480px) {
      max-width: 300px;
    }

    @media only screen and (min-width: 540px) {
      max-width: 360px;
    }

    @media only screen and (min-width: 600px) {
      max-width: 180px;
    }
  }

  &__preview-item,
  &__preview-image {
    flex-shrink: 0;
    width: 45px;
    height: 30px;
    overflow: hidden;
  }

  &__preview-item {
    height: 30px;
    margin-right: 15px;
  }

  &__preview-image {
    width: auto;
    max-width: none;
  }

  &__content {
    width: 100vw;
    background-color: #FFFFFF;
    max-height: 0;
    border-width: 1px;
    border-style: solid;
    border-color: #AAAAAA;
    border-bottom-width: 5px;
    overflow-y: scroll;
    transition-property: max-height;
    transition-duration: 1s;
    transition-timing-function: ease;

    @media only screen and (min-width: 600px) {
      width: 418px;
    }

    .action-bar__wrapper.open & {
      max-height: 500px;

      @media only screen and (min-height: 700px) {
        max-height: 600px;
      }

      @media only screen and (min-height: 800px) {
        max-height: 700px;
      }

      @media only screen and (min-height: 1000px) {
        max-height: 900px;
      }

      @media only screen and (min-height: 1200px) {
        max-height: 1100px;
      }
    }

    &.hidden {
      opacity: 0;
    }
  }

  &__content-wrapper {
    &:after {
      display: none;
      position: absolute;
      bottom: -0.625rem;
      right: 3.625rem;
      content: ' ';
      border-top: 0.625rem solid #AAAAAA;
      border-left: 0.375rem solid transparent;
      border-right: 0.375rem solid transparent;
    }

    .action-bar__wrapper.open & {
      &:after {
        display: block;
      }
    }
  }

  &__content-headline {
    padding: 15px;
    text-align: center;
    font-size: 1.5em;
    border-bottom-width: 0.0625rem;
    border-bottom-style: solid;
    border-bottom-color: #AAAAAA;
  }

  &__wrapper {
    z-index: 840;
    position: fixed;
    bottom: 86px;

    @media only screen and (min-width: 600px) {
      right: 80px;
    }
  }

  &__item {
    display: flex;
    border-bottom-width: 0.0625rem;
    border-bottom-style: solid;
    border-bottom-color: #AAAAAA;
    transition-property: opacity;
    transition-duration: 400ms;
    padding: 15px;
  }

  &__item-content {
    flex: 1;
    display: flex;
    justify-content: space-between;
  }

  &__item-column {
    display: flex;
    flex-direction: column;

    &--right {
      margin-left: 20px;
    }
  }

  &__item-text {
    font-weight: 800;
    font-size: 1.1em;
    text-decoration: none;
  }

  &__item-subline {
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-size: 0.8em;
    text-decoration: none;

    span {
      background-color: #ff9933;
      color: white;
      padding: 2px 5px;
    }
  }

  &__item-remove {
    cursor: pointer;
    width: 24px;
    height: 24px;
    background-image: url("/assets/icons/baseline-close-24px.svg");
  }

  &__image-wrapper {
    margin-right: 0.625rem;
    flex-shrink: 0;
  }

  &__image {
    width: 135px;
    height: 90px;
  }
}
