<div class="user-container">
	<div class="create-user-container" *ngIf="loginService.isUserLoggedIn()">
		<app-create-user></app-create-user>
	</div>
	<div class="user-list-container">
		<app-user-list></app-user-list>
	</div>
  <div class="team-logo__container hidden">
    <div class="team-logo__closer" (click)="closeTeamLogo()"></div>
    <img class="" src="" alt="" class="team-logo--large">
    <div class="team-logo__play-sound" (click)="playPlayerSound($event)"></div>
  </div>
</div>	
