:host * {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
}

.user-container {
	width: 100%;
  padding: 20px;
	display: flex;
	flex-direction: row;
	flex-flow: row wrap;
	justify-content: space-around;
  position: relative;
}
.team-logo__container {
  position: absolute;
  width: 100vw;
  height: 100vh;
  left: 0;
  background-color: rgba(0,0,0,0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
}
.team-logo--large {
  width: 75%;
}
.team-logo--large.invert {
  -webkit-filter: invert(1);
  filter: invert(1);
}
.team-logo__container.hidden {
  display: none;
}
.team-logo__closer {
  position: fixed;
  top: 0;
  right: 0;
  background-size: cover;
  width: 50px;
  height: 50px;
  /*background-image: url("/assets/icons/baseline-close-24px.svg");*/
  background-color: #fff;
  mask-image: url("/assets/icons/baseline-close-24px.svg");
  mask-size: cover;
  cursor: pointer;
}

.team-logo__play-sound {
  background-size: cover;
  width: 50px;
  height: 50px;
  /*background-image: url("/assets/icons/baseline-close-24px.svg");*/
  background-color: #fff;
  mask-image: url("/assets/icons/baseline-play_circle_outline-24px.svg");
  mask-size: cover;
  cursor: pointer;
  margin-top: 30px;
}

@media only screen and (max-width: 768px) {
	.create-user-container, .user-list-container {
    width: 100%;
  }

	.user-container .create-user-container {
		padding-bottom: 30px;
		border-bottom: 2px solid #aaa; 
		margin-bottom: 10px;
	}
} 

@media only screen and (min-width: 768px) {
  .create-user-container, .user-list-container {
    width: 48%; margin: 0 1%;
  }

  .team-logo--large {
    width: 50%;
  }
}

@media only screen and (min-width: 992px) {
  .create-user-container, .user-list-container {
    width: 45%; margin: 0 2.5%;
  }

  .team-logo--large {
    width: 33.33%;
  }
} 

@media only screen and (min-width: 1200px) {
  .create-user-container,
  .user-list-container {
    width: 40%; margin: 0 5%;
  }

  .team-logo--large {
    width: 25%;
  }
}
