<!--<div class="flex-centered">-->
  <!--<img src="assets/images/balkengekloppt.png"/>-->
<!--</div>-->
<div class="dashboard">
  <div class="dashboard__section">
    <div class="dashboard__headline">Geile News & Interviews</div>
    <app-news [limit]="3" [hideAdder]="true" [disableSearch]="true"></app-news>
  </div>

  <div class="dashboard__section cell-6">
    <div class="dashboard__headline">Die letzten 10 Verkloppungen</div>
    <app-games [preview]="true" [limit]="5"></app-games>
  </div>
</div>
