.dashboard {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;

  &__section {
    margin-top: 30px;
  }

  &__headline {
    text-align: center;
    text-transform: uppercase;
    font-size: 1.4em;
    font-weight: 800;
    letter-spacing: 0.05em;
  }

  .cell-6 {
    width: 50%;
  }
}
