<nav class="wrapper navigation">
  <ul class="list">
    <li *ngFor="let link of navigationLinks" class="item" routerLinkActive="active-link">
      <ng-template [ngIf]="link.intern === true" [ngIfElse]="extern">
        <a class="link-text"
           *ngIf="link.text !== 'Login'"
           [routerLink]="link.href">
          {{link.text}}
        </a>
        <div *ngIf="link.text === 'Login'">
          <label for="login-layer__checkbox" class="link-text" *ngIf="!loginService.isUserLoggedIn()">{{link.text}}</label>
          <label for="login-layer__checkbox" class="link-text" *ngIf="loginService.isUserLoggedIn()">Logout</label>
          <input type="checkbox" id="login-layer__checkbox" class="login-layer__checkbox" *ngIf="link.text === 'Login'">
          <div class="login-layer" *ngIf="link.text === 'Login'">
            <app-login></app-login>
          </div>
        </div>
      </ng-template>
      <ng-template #extern>
        <a class="link-text"
          href="{{link.href}}" target="_blank">
          {{link.text}}
        </a>
      </ng-template>
    </li>
  </ul>
</nav>
