ul {
  list-style: none;
  padding: 0;
}

.navigation {
  border-bottom: 2px solid #aaa;
  box-sizing: border-box;
}

.item {
  position: relative;
  box-sizing: content-box;
}

.link-text {
  cursor: pointer;
}

.login-layer {
  z-index: 1;
  position: absolute;
  display: none;
  background-color: #f2f2f2;
  right: 0;

  &__checkbox {
    display: none;
  }

  .login-layer__checkbox:checked ~ & {
    display: block;
  }
}
