@font-face {
  font-family: DS-DIGI;
  src: url(/assets/fonts/DS-DIGI.ttf) format('truetype');
  font-weight: 200;
}

@font-face {
  font-family: DS-DIGIB;
  src: url(/assets/fonts/DS-DIGIB.TTF) format('truetype');
  font-weight: 800;
}

@font-face {
  font-family: DS-DIGIT;
  src: url(/assets/fonts/DS-DIGIT.TTF) format('truetype');
}

@font-face {
  font-family: DS-DIGII;
  src: url(/assets/fonts/DS-DIGII.TTF) format('truetype');
}
