/* You can add global styles to this file, and also import other style files */
@import url(https://fonts.googleapis.com/css?family=Roboto);

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

body * {
  box-sizing: border-box;
}

@media only screen and (max-width: 600px) {
  body {font-size: 11px;}
}

@media only screen and (min-width: 600px) {
  body {font-size: 11px;}
}

@media only screen and (min-width: 768px) {
  body {font-size: 12px;}
}

@media only screen and (min-width: 992px) {
  body {font-size: 13px;}
}

@media only screen and (min-width: 1200px) {
  body {font-size: 14px;}
}

a, a:active, a:hover, a:visited {
  color: #000;
}

.list {
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
  height: 100%;
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
}



.flex-centered {
  display: flex;
  align-items: center;
  justify-content: center;
}


/* <Stylings fuer Navis und Sub-Navis> */
.list:hover .item:not(:hover){
  opacity: 0.5;
}

.item {
  transition: opacity 200ms;
  border: 2px solid transparent;
}

.active-link {
  background-color: #ff9933;
}

.sub-navi .active-link,
.sub-navi .selected {
  border: 2px solid #ff9933;
  background-color: transparent;
}

@media only screen and (max-width: 600px) {
  .item {width: 100px; height: 22px;}
  .link-text {padding: 5px 6px;}
}
@media only screen and (min-width: 600px) {
  .item {width: 110px; height: 24px;}
  .link-text {padding: 6px 7px;}
}

@media only screen and (min-width: 768px) {
  .item {width: 120px; height: 29px;}
  .link-text {padding: 7px 8px;}
}

@media only screen and (min-width: 992px) {
  .item {width: 140px; height: 30px;}
  .link-text {padding: 7px 10px;}
}

@media only screen and (min-width: 1200px) {
  .item {width: 160px; height: 32px;}
  .link-text {padding: 8px 12px;}
}

.link-text,
.link-text:visited {
  display: block;
  text-align: center;
  text-decoration: none;
}
.link-text:active,
.link-text:hover,
.selected{
  text-decoration: underline;
}
/* </Stylings fuer Navis und Sub-Navis> */



body.soundboard-open {
  .game__form {
    width: 70%;
  }
}


