:host .statistics-navigation {
  justify-content: space-evenly;
  align-items: center;
  background-color: transparent;
  margin: 5px 0;
}

ul {
  list-style: none;
  padding: 0;
}

@media only screen and (max-width: 600px) {
  .statistics-navigation {margin-bottom: 8px;}
  .statistics-navigation-item {width: 120px; height: 21px;}
  .statistics-navigation-item-link {padding: 2px 6px; font-size: 10px;}
}
@media only screen and (min-width: 600px) {
  .statistics-navigation {margin-bottom: 8px;}
  .statistics-navigation-item {width: 120px; height: 21px;}
  .statistics-navigation-item-link {padding: 2px 7px; font-size: 10px;}
}

@media only screen and (min-width: 768px) {
  .statistics-navigation {margin-bottom: 9px;}
  .statistics-navigation-item {width: 130px; height: 23px;}
  .statistics-navigation-item-link {padding: 4px 8px; font-size: 11px;}
}

@media only screen and (min-width: 992px) {
  .statistics-navigation {margin-bottom: 10px;}
  .statistics-navigation-item {width: 140px; height: 26px;}
  .statistics-navigation-item-link {padding: 4px 9px; font-size: 12px;}
}

@media only screen and (min-width: 1200px) {
  .statistics-navigation {margin-bottom: 10px;}
  .statistics-navigation-item {width: 155px; height: 26px;}
  .statistics-navigation-item-link {padding: 4px 10px; font-size: 13px;}
}

.statistics-navigation-item {
  margin: 3px 5px;
  background-color: #ddd;
 }

.statistics-navigation-item-link,
.statistics-navigation-item-link:visited {
  display: flex;
  justify-content: center;
  align-items: center;
}

.statistic-area {
  width: 100%;
  min-height: 400px;
  background-color: #eee;
  border-color: #ccc;
  border-style: solid;
  border-width: 2px 0;
  padding: 10px 2%;
}
