<ul class="list sub-navi statistics-navigation">
  <li *ngFor="let link of links" class="item statistics-navigation-item" routerLinkActive="active-link">
    <a [routerLink]="'./' + link.href"
       class="link-text statistics-navigation-item-link">{{link.text}}</a>
  </li>
</ul>
<div class="statistic-area">
  <router-outlet></router-outlet>
</div>
